[2021-05-22 20:39] mfayoub commented on #604
Thanks @lintool and @stephaniewhoo for your quick response. That made it work for me.

[2021-05-22 20:39] #604 closed

[2021-05-22 20:56] rodrigonogueira4 commented on #609
I think it makes sense.

[2021-05-22 21:07] MXueguang commented on #599
@justram
https://github.com/castorini/pyserini/blob/f97b4675e3ce36cb517fae1c28aa11143b14e4fe/pyserini/dindex/_base.py#L30
yes I used BertModel. It is better to chance to BertForPretraining?

[2021-05-22 21:35] lintool commented on #604
@mfayoub Would you be willing to share what you're using our LTR pipeline for?

[2021-05-23 00:20] MXueguang commented on #583
My plan is we accept two type of corpus with vectors.
1. dense,
[code]

2. sparse, (BM25)
[code]

for queries, we stay with current encoded-queries? i.e. store things in pkl file?

[2021-05-23 07:32] stephaniewhoo commented on #608
sg! so in training README, we can reveal more details like sampling num, optimization goal etc

[2021-05-23 08:04] Fatima-Haouari opened #610 "Boolean retrieval"
Hi,
Is boolean retrieval supported by Pyserini? please advise on how can we perform retrieval for queries with AND, OR, and NOT operators using Pyserini.
Many thanks in advance.

[2021-05-23 10:51] lintool commented on #610
See https://github.com/castorini/pyserini/blob/master/docs/usage-querybuilder.md

[2021-05-23 10:56] lintool commented on #583
`vec` -> `vector`: no need to save three characters

I suppose the contract should be that the dimensions of `vector` do not need to have any relationship with the text? Because otherwise you'd need to involve a tokenizer, etc. That is, the dimensions might be arbitrary?

[2021-05-23 13:41] lintool commented on #599
clprf integrations passed without issue:

[code]

🎉 @yuki617

[2021-05-23 13:57] yuki617 commented on #599
Awesome，thanks for checking!

[2021-05-23 15:38] lintool opened #611 "MsMarcoPassageLtrSearcher"
Hi @stephaniewhoo - what do you think about refactoring your LTR code into something like `MsMarcoPassageLtrSearcher` alongside `SimpleSearcher`? https://github.com/castorini/pyserini/blob/master/pyserini/search/_searcher.py#L39

Currently we can do this:

[code]

We can similarly expose `MsMarcoPassageLtrSearcher`, something like:

[code]

[2021-05-23 18:44] mfayoub commented on #604
Yes sure. I'm working on building a test collection based on the Avocado Email Collection. So basically, I'm using Pyserini to extract relevance features between query and document pairs.

[2021-05-24 10:12] Fatima-Haouari commented on #610
Thanks a lot for your quick response. I appreciate it.

[2021-05-24 12:32] #610 closed

[2021-05-24 14:46] lintool commented on #599
FYI -

[code]

This appears to be an issue with:

[code]

Downgrading to 7.1.2 fixes the issue.

[2021-05-24 18:48] lintool opened #613 "test_index_download.py test failure"
On a fresh install:

[code]

I think downloading fails if the `pyserini` directory doesn't already exist:

[code]

[2021-05-25 17:55] lintool commented on #599
I've run all three pyserini integration tests on `orca`.

[code]

All passed, at commit `f97b46` (2021/05/22): `sparse` (30 tests in ~2.7h), `dense` (37 tests in ~25.9h), `clprf` (43 tests in ~25.6h).

I have `sudo pip` installed the packages above so they are now system-wide defaults. For future reference I'm attaching the exact configuration.

[pip-freeze-orca-2021-05-25.txt](https://github.com/

[2021-05-26 01:27] lintool opened #615 "Unit test temp_dir/ clean-up"
After running unit tests, `python -m unittest`, there seems to be `temp_dir/` that isn't cleaned up properly.

[2021-05-26 01:29] lintool commented on #582
hey @MXueguang maybe we can document directly in the index metadata? e.g., https://github.com/castorini/pyserini/blob/master/pyserini/prebuilt_index_info.py#L464

As well as in the documentation?

[2021-05-26 01:30] lintool commented on #576
Closing, superseded by #599

[2021-05-26 01:30] #576 closed

[2021-05-26 01:31] lintool commented on #547
@MXueguang I think this can be closed?

[2021-05-26 10:41] lintool commented on #615
Also, `test_run.msmarco-doc.passage.ance-maxp.otf.txt` seems to be left over from integration tests.

[2021-05-26 14:28] MXueguang commented on #606
sure

[2021-05-26 14:29] lintool commented on #606
Okay, please confirm that the tests are covered in `integrations/` and then send PR to remove? Thanks!

[2021-05-26 14:37] #609 closed

[2021-05-26 21:20] MXueguang commented on #615
closed by https://github.com/castorini/pyserini/pull/616

[2021-05-26 21:20] #615 closed

[2021-05-26 21:42] MXueguang commented on #613
this issue should be fixed by https://github.com/castorini/pyserini/pull/616.
The reason was `os.unsetenv('PYSERINI_CACHE')` is not clearing the env variable, so the index was downloaded to `temp_dir` accidentally (since other test set PYSERINI_CACHE to `temp_dir`).

[2021-05-26 22:02] #547 closed

[2021-05-26 22:07] lintool commented on #613
Confirmed. The issue is fixed at `7e0ddef`.

[2021-05-26 22:07] #613 closed

[2021-05-26 22:16] #606 closed

[2021-05-27 01:57] #578 closed

[2021-05-28 11:46] #478 closed

[2021-05-28 11:50] MXueguang commented on #501
removed in https://github.com/castorini/pyserini/pull/621

[2021-05-28 11:50] #501 closed

[2021-05-28 17:27] #580 closed

[2021-05-28 17:28] lintool commented on #573
This is a reasonable start: https://github.com/castorini/pyserini/blob/master/docs/installation.md

Closing for now.

[2021-05-28 17:28] #573 closed

[2021-05-28 17:31] lintool commented on #497
@MXueguang this is closed by #621 right?

[2021-05-28 17:32] MXueguang commented on #497
yeah

[2021-05-28 17:32] #497 closed

[2021-05-29 13:18] lintool opened #628 "Bugs with dindex"
hey @MXueguang - I'm running:

[code]

The above works fine, but when I switch encoders:

[code]

I'm getting the following error:

[code]

What exactly is the "title-delimiter"? It's assuming a particular format of the input docs?

[2021-05-29 17:25] alexlimh commented on #564
New results using 5 [training subsets](https://github.com/castorini/Anserini-data/tree/master/MSMARCO) for tuning k1 and b:

Setting | MRR@10 | MAP | Recall@1000
-- | -- | -- | --
Default (k1=0.9,b=0.4) | 0.1840 | 0.1926 | 0.8526
Grid Search, Optimized for recall@1000 (k1=0.82, b=0.68) | 0.1874 | 0.1957 | 0.8573
**Skopt**, Optimized for recall@1000 (k1=0.75, b=0.87) | 0.1890 | 0.1971 | **0.8575**

[2021-05-30 02:14] lintool commented on #628
btw, @MXueguang - my intention was to compare with this: https://github.com/castorini/pyserini/pull/631

That is, reranking MS MARCO doc Indri baseline, comparing MaxP BM25 vs. MaxP ANCE.

[2021-05-30 17:10] #590 closed

[2021-05-30 17:22] lintool opened #633 "Demo for DPR?"
The MS MARCO demo is nice... @saileshnankani can we get a dpr demo also?

[2021-06-02 02:14] lintool opened #634 "Building your own dense index: constructor needs updating"
From here: https://github.com/castorini/pyserini/blob/master/docs/usage-dense-indexes.md

Instructions say:

[code]

This shouldn't be `from_prebuilt_index`, but rather a normal constructor? Build you own dense index, by definition, can't be "pre-built".

[2021-06-02 02:15] MXueguang commented on #634
ah. yeah. I'll update.

[2021-06-02 16:16] lintool opened #638 "Integration tests for DistilBERT KD TASB"
We need integration tests for DistilBERT KD TASB:
https://github.com/castorini/pyserini/blob/master/docs/experiments-distilbert_tasb.md

@jacklin64 @justram can you please send PR?

[2021-06-02 16:16] lintool commented on #634
Closed by #635

[2021-06-02 16:17] lintool commented on #628
Closed by #632

[2021-06-02 16:17] #628 closed

[2021-06-02 16:38] alexlimh opened #639 "Build inverted indexes on the fly"
Currently pyserini only supports building indexes on the document collections stored in the disk, but it would be nice to also support building indexes on the fly, i.e., using GPT-2 to generate documents and adding them to the index like a stream.

[2021-06-03 15:57] shashankg7 opened #643 "Dense indexing corpus not working"
Hi,

I have a Wikipedia related custom corpus, which I am trying to index using dense vectors.

But the command "python -m pyserini.dindex" is not working.

I am getting an error:

AttributeError: module 'pyserini' has no attribute 'dindex'

I have installed all of the dependencies, so not sure what is wrong.

Please let me know.

[2021-06-03 16:20] lintool commented on #643
Ah, this is a newly-introduced feature than hasn't been published in the PyPI package yet... so you'll need to get a dev installation: https://github.com/castorini/pyserini/#development-installation

[2021-06-03 22:46] MXueguang opened #644 "supprt dindex with collection in tsv format"
currently, we only support jsonl files as input for index.
but I just notice JSON is not the best option for languages other than English...
[code]
text format, e.g. TSV might be a better option, where people can read the contents, will be easier for debugging etc.
we'd better support TSV as well.

[2021-06-03 23:22] lintool commented on #644
Is this a matter of standards compliance or does the JSON parser actually choke on human readable input?

[2021-06-03 23:26] lintool commented on #644
Poking around a bit, it _does_ seem like Python can read non-escaped characters:
https://pynative.com/python-json-encode-unicode-and-non-ascii-characters-as-is/

I would be hesitant about adding another input format...

[2021-06-03 23:28] MXueguang commented on #644
ah I see.
so simple solution `ensure_ascii=False` while dumping into json

[2021-06-03 23:28] MXueguang commented on #644
yeah, we can stay with jsonl only rn.

[2021-06-03 23:28] #644 closed

[2021-06-04 19:39] shashankg7 commented on #643
Thank you @lintool for your response.

I was able to get it run from the development version.

I have a follow-up question. I am trying to index a Wikipedia corpus and search on it using dense retrieval.

I tried the DPR encoder, but it's not giving good results. I think this is due to the fact that DPR is trained in QA domain.

Any suggestion on what encoder I can use for Wikipedia?

[2021-06-05 17:28] lintool commented on #643
The short answer is... we don't know. You're basically talking about an open research question...

Dense retrieval is known to be very corpus/query specific, often with poor zero-short effectiveness when transferred to another collection.

That's why we have benchmarks like https://github.com/UKPLab/beir to further explore...

[2021-06-05 17:29] #643 closed

[2021-06-06 13:06] shashankg7 commented on #643
Thanks, @lintool for your response and pointer to the IR benchmark. I'll look more into it.

[2021-06-07 01:22] MXueguang opened #646 "better hybrid/evaluation script for dpr retrieval"
we currently compute "answer exists" at the very end of the pipeline, which makes hybrid tuning cost a lot of space. we can precompute it and do not store the raw text in the retrieval file.

[2021-06-08 13:42] jayparks opened #648 "Issue with Hybrid search"
Hello, I got this error when running hybrid retrieval.

[code]

The problem occurs when sparse retrieval does not generate any hit for some queries. The same can happen for dense retrieval.
https://github.com/castorini/pyserini/blob/c7b37d6073cda62685f64d6d0b99dc46f0718346/pyserini/hsearch/_hybrid.py#L60

For the moment, I'm trying to find a way to get around it.
Is there any way to force sparse r

[2021-06-08 14:38] lintool commented on #648
Which dense model, what OS, package versions, etc.?

First debug would be to check versions of underlying dependencies (faiss, transformers, etc.):
https://github.com/castorini/pyserini/blob/master/docs/installation.md

[2021-06-08 15:27] jayparks commented on #648
MacOS: 10.15.7
Pyserini version: 0.12.0

The issue is not about dense retrieval but occurs on the sparse side.

[2021-06-08 16:04] lintool commented on #648
Are you able to replicate the dense retrieval results? On which model?

[2021-06-08 16:27] MXueguang commented on #648
I noticed this issue with @crystina-z at the end of last week.
If all words in queries are either stop-word or not in vocabulary dict, the search with this query will just return an empty list.
I think in the case the sparse result is empty, we can just use dense results for that query when hybrid scores.
I'll make the update today. @jayparks

[2021-06-08 19:40] jayparks commented on #648
@lintool I can confirm it's not related to dense retrieval. I was able to reproduce the dense/hybrid retrieval results in this [documentation](https://github.com/castorini/pyserini/blob/master/docs/experiments-dpr.md).

@MXueguang thanks!

[2021-06-08 20:38] #633 closed

[2021-06-09 14:20] jayparks commented on #648
@lintool sure. I'll try to submit one. Thanks for the great library!

[2021-06-09 14:20] #648 closed

[2021-06-09 17:39] jayparks opened #653 "Missing argument in hybrid retrieval"
The `prefix` argument for `init_query_encoder` is missing in hybrid search.

https://github.com/castorini/pyserini/blob/7f56ecd1210aacbf6f24cd7a724d5562ea671c0d/pyserini/hsearch/__main__.py#L103

[2021-06-09 18:51] MXueguang commented on #646
closed by https://github.com/castorini/pyserini/pull/649

[2021-06-09 18:51] #646 closed

[2021-06-09 19:25] MXueguang commented on #653
@jayparks should be fixed by https://github.com/castorini/pyserini/pull/655?

[2021-06-10 15:59] jayparks commented on #653
Yes it's solved. Thanks

[2021-06-10 15:59] #653 closed

[2021-06-11 14:47] lintool opened #659 "Reorganization of packages for dense retrieval?"
Hey @MXueguang - since `dindex` is really about encoding the corpus, and we're using `IndexFlatIP` mainly as a data interchange format (as opposed to TF records), does it make sense to reorg the package structure for the next major release?

E.g., something like:

+ `pyserini.encode` - primarily about encoding (bf index is really just a "side effect")
+ `pyserini.findex` - for faiss indexes (e.g.,

[2021-06-12 01:14] lintool opened #660 "vsearch: index custom vector corpus format"
Hi @MXueguang - from #612, the format for defining custom vectors is:

[code]

Can we bring into closer alignment with how a standard document is defined? E.g.,

[code]
Furthermore, why parallel vectors instead of a dictionary (hashmap)?

E.g., something like:

[code]

[2021-06-12 13:17] lintool commented on #660
See: https://github.com/castorini/anserini/pull/1560/

Where I have an initial working implementation.

[2021-06-16 21:49] #603 closed

[2021-06-18 16:07] sujitpal commented on #597
Just wanted to thank @lintool and @MXueguang for the instructions, I was able to create the FAISS sidecar index (docid + index) and use the Sparse, Dense and Hybrid retrieval mechanisms. Sharing code here in case this is useful to add to documentation and/or for others who might have the same requirement as mine. First set of code blocks uses a pre-encoded set of queries in the pickled embedding.p

[2021-06-18 16:17] lintool commented on #597
Thanks for the code snippets!

[2021-06-23 19:36] cash opened #666 "Switch to jnius_config.add_classpath"
Currently, pyserini replaces any previously registered jars on the classpath in its setup code. Is there any reason to not use add_classpath() instead of set_classpath()?

Here is the pyjnius relevant code:
[code]

[2021-06-23 20:15] lintool commented on #666
Hi @cash good idea! Can you send PR please?

[2021-06-23 20:26] #666 closed

[2021-06-24 12:35] CharlotteYang12345 opened #670 "cannot import name 'requires_faiss' from 'transformers.file_utils'"
![WeChatf2631cb2679c58f10f14056db6d46998](https://user-images.githubusercontent.com/32707910/123263592-1174b480-d4f1-11eb-9265-bfdd676b36bf.png)

[2021-06-24 12:52] lintool commented on #670
Did you follow the installation instructions on the README?

[2021-06-24 15:25] MXueguang commented on #670
@CharlotteYang12345, the `requires_faiss` was removed from latest `transformers`.
To fix this issue, there are two options.
1. downgrade transformers to <=3.4.0
2. pull our latest code and do development installation

[2021-06-24 22:01] #670 closed

[2021-06-25 05:26] saileshnankani commented on #556
I'm working on it

[2021-06-28 07:11] bobbyfyb opened #671 "ImportError: cannot import name 'requires_faiss' from 'transformers.file_utils'"
When I try to import SimpleDenseSearcher from pyserini.dsearch, it reports the ImportError:

[code]

It seems this error import should has been changed to 'requires_backends' in the version 0.12.0 of pyserini, but the pip installed one still remains old. Can you fix it?

[2021-06-28 07:24] MXueguang commented on #671
Hi @bobbyfyb
As we release 0.12.0 of Pyserini,  `transformers` hasn't changed to `requires_backends` yet.
- a quick fix is downgrading `transformers`  to e.g. 4.3.0,
- This issue is fixed in our latest code, use development installation is another option.
- https://github.com/castorini/pyserini/issues/670

We are preparing our next release, but that needs some time.

[2021-06-28 20:25] cash opened #673 "Update RM3 interface to support controlling filtering"
This references https://github.com/castorini/anserini/issues/1570

[2021-06-29 11:56] lintool opened #675 "Encoded queries: unsupported pickle protocol"
Should probably check in the test cases?

[code]

[2021-06-30 00:22] lintool opened #676 "Make DeepImpact work from Pyserini"
Title says it all...

[2021-06-30 00:23] lintool opened #677 "Make uniCOIL work from Pyserini"
As the title says... I just cut Anserini v0.13.1, so that removes a blocker.

[2021-06-30 00:23] #671 closed

[2021-06-30 06:24] MXueguang commented on #675
[code]
got 3 error after fix the protocol

[2021-06-30 16:40] lintool opened #679 "Clearly document nmslib version and installation instructions"
#612 introduces new dependency - nmslib

per #599 - we need to clearly document which version the group is sync'ed on and add to installation instructions.

[2021-07-01 11:15] kruthikakr opened #681 "Support for image data"
Hi

if the document has images , how to add the image embedding along with document so that for text query , the matched image +text is retrieved from a document.

[2021-07-01 12:48] lintool commented on #681
Thanks for your interest in Pyserini. Unfortunately, we don't currently have the capability right now.

[2021-07-01 12:48] #681 closed

[2021-07-01 12:49] #593 closed

[2021-07-01 12:53] lintool commented on #638
This has been done.

[2021-07-01 12:53] #638 closed

[2021-07-05 15:59] lintool opened #689 "Integration failures at v0.13.0"
I'm getting integration failures on `orca`:

[code]

[2021-07-09 17:25] MXueguang commented on #689
@lintool  this should be closed by https://github.com/castorini/pyserini/pull/692

[2021-07-09 17:32] lintool commented on #689
Agreed.

[2021-07-09 17:32] #689 closed

[2021-07-11 14:36] rodrigonogueira4 opened #695 "Better error message when index doesn't store doc vectors to support RM3 expansion"
This allows us to use RM3 query expansion.

[2021-07-11 14:42] lintool commented on #695
In more detail:

[code]

Gives:

[code]

At the very least, we should have better error messages...

[2021-07-12 04:29] XY2323819551 opened #696 "Unrecognized index name"
Hi，sorry to bother you，I met a problem which can be described as follows:

My directory structure looks like this
![11](https://user-images.githubusercontent.com/40745058/125230735-fb962a80-e30b-11eb-8441-5b3b8d533bf8.JPG)

I ran the command correctly yesterday but for today，commands are as follows:
from pyserini.search import SimpleSearcher
searcher=SimpleSearcher.from_prebuilt_index('indexes/ind

[2021-07-12 05:12] MXueguang commented on #696
ah if you use custom index,
please init searcher by
[code]

i.e. call constructor directly

`from_prebuilt_index` is for our self-contained indexes

[2021-07-12 06:03] XY2323819551 commented on #696
Thanks for your help! 😁

[2021-07-12 06:03] #696 closed

[2021-07-14 21:28] MXueguang commented on #677
closed by https://github.com/castorini/pyserini/pull/684

[2021-07-14 21:28] #677 closed

[2021-07-14 21:28] MXueguang commented on #676
closed by https://github.com/castorini/pyserini/pull/684

[2021-07-14 21:28] #676 closed

[2021-07-14 21:29] #675 closed

[2021-07-14 21:30] MXueguang commented on #583
this can be closed? as we are having new pipeline @lintool ?

[2021-07-14 21:34] #583 closed

[2021-07-14 21:46] lintool opened #704 "End-to-end integration tests for encode"
The CACM collection is small enough that this might be doable on CPU?

[2021-07-15 01:39] #660 closed

[2021-07-16 00:45] MXueguang opened #705 "hybrid search with normalized score"
update hybrid search to support normalizing dense/sparse score

[2021-07-19 15:14] stephaniewhoo commented on #611
Close with #636

[2021-07-19 15:14] #611 closed

[2021-07-19 15:15] stephaniewhoo commented on #608
Close with #636

[2021-07-19 15:15] #608 closed

[2021-07-19 23:19] lintool opened #712 "BPR reproduction"
hey @alexlimh https://github.com/castorini/pyserini/blob/master/docs/experiments-bpr.md

(1) Add a link from the main README?
(2) Can we get someone to reproduce to make sure everything checks out?

[2021-07-20 20:14] alexlimh commented on #712
Got it. @MXueguang would upload the pre-built index soon and it should be ready for reproduction after that.

[2021-07-21 02:24] lintool opened #713 "Build pre-built indexes for DeepImpact and uniCOIL"
Let's base of the v0.13.2 anserini release.

@MXueguang let me know when you're done, provide dropbox coordinates, and also README please.

[2021-07-21 16:46] lintool opened #714 "Double check MS MARCO doc v2 corpus segmentation"
We have a segmentation script for MS MARCO doc v2:
https://github.com/castorini/pyserini/blob/master/scripts/msmarco_v2/segment_docs.py

And we have the generated output on `orca` at `/store/collections/msmarco/msmarco_v2_doc_segmented`.

We should confirm that the script does indeed generate that corpus, i.e., check md5sums. @MXueguang I believe you were going to do it?

Double check - spacy vers

[2021-07-21 16:47] MXueguang commented on #714
yes

[2021-07-22 01:40] lintool opened #715 "Update documentation for MS MARCO doc v2 to include segmented corpus"
Documentation should be updated for this to work in Pyserini:
https://github.com/castorini/anserini/blob/doc-segmented/docs/experiments-msmarco-v2.md

[2021-07-28 15:48] lintool opened #720 "Reproduction page for TCTv2-HN+ and uniCOIL"
@jacklin64 @justram please start a reproduction page for TCTv2-HN+, both passage and do. Call it something like `experiments-msmarco-v2-tct.md`?

@MXueguang please start reproduction page for uniCOIL, call it something like `experiments-msmarco-v2-unicoil.md`?

Check in all associated scripts. For now, can reference indexes on `orca`.

[2021-07-30 03:19] jingtaozhan opened #723 "DeepImpact / uniCOIL is much slower than BM25?"
I haven't been able to reproduce DeepImpact and uniCOIL because the current release does not support impact retrieval. But I am curious about why the doc says they are much slower than BM25.

[2021-07-30 03:49] MXueguang commented on #723
Hi @jingtaozhan,

If you are interested in reproducing DI/uniCOIL right now, you have to follow the [development installation](https://github.com/castorini/pyserini#development-installation)
Regarding the speed, we had some discussion here https://github.com/castorini/anserini/pull/1600.

TL;DR 1. uniCOIL has a smaller vocabulary size. 2. uniCOIL didn't remove stopwords, punctuations.
Filter out t

[2021-07-30 05:18] jingtaozhan commented on #723
I see. Thank you!

[2021-07-30 05:18] #723 closed

[2021-08-04 11:37] lintool commented on #714
This has been confirmed.

[2021-08-04 11:37] #714 closed

[2021-08-07 00:00] ccsasuke opened #728 "How are the `alpha` values decided for the DPR experiments?"
Hi,

On this page https://github.com/castorini/pyserini/blob/master/docs/experiments-dpr.md, a different `alpha` value is used for each dataset in the hybrid model. Could you share the details on how the `alpha` values are chosen for each dataset?
Did you tune it on the validation sets? If so, how is it done in particular?

Thank you.

[2021-08-07 01:10] MXueguang commented on #728
For NQ, TQA, WQ, Curated, we use the entire train set to tune.
For Squad, we use a subset of the train set to tune.
`alpha` is tuned in range(0,2) with line search.

[2021-08-07 01:14] ccsasuke commented on #728
@MXueguang Thanks for the prompt response!

If I understand correctly, you select the best value by running hybrid retrieval using a range of different `alpha` values, and picked one that's "optimal", right?

What values did you consider? (0.1, 0.2, ..., 2.0 ?)
Which metric did you use to select the best value? Did you use top-100 retrieval accuracy?

[2021-08-07 01:20] MXueguang commented on #728
We tuned the α values on different datasets by optimizing top20 retrieval accuracy: For datasets where we can
obtain exactly same train/dev/test splits as the original DPR paper (NQ and TriviaQA), we tuned the
weight on the development set. For the remaining datasets, where splits are not available or the original DPR paper does not provide specific guidance, we tuned the weight on a subset of the

[2021-08-07 01:22] ccsasuke commented on #728
Got it, thank you!

[2021-08-07 01:22] #728 closed

[2021-08-08 12:41] XY2323819551 opened #729 "subprocess.CalledProcessError: Command '['which', 'javac']' returned non-zero exit status 1."
Hi, sorry to bother you! I really want to know how to solve the issue.

I want to do deeper searching with your code, my target is that I can debug you code in Pycharm. Firstly, I tried to debug the code which have reproduced the DPR results.   I made it with command【python -m pyserini.dsearch --topics dpr-nq-test \
                           --index /home/zhangxy/QA/castorini/pyserini/indexes/din

[2021-08-08 15:36] oriram opened #730 "Build Sparse Index for NQ"
Hi :)

First, many thanks for this awesome library!

I wanted to ask - what is the command to build the sparse index over DPR's data `psgs_w100.tsv` (i.e., reproduce your `wikipedia-dpr` index)?

[2021-08-08 15:42] MXueguang commented on #730
Hi @oriram,
psgs_w100.tsv need to be converted to jsonl format first, e.g. https://www.dropbox.com/s/n0c0ypuo25zdks0/wikipedia-dpr-jsonl.tar.gz
and then build the index by following this [guide](https://github.com/castorini/pyserini#how-do-i-index-and-search-my-own-documents)

[2021-08-08 16:18] oriram commented on #730
@MXueguang Many thanks for your quick response!
This is what I tried but for some reason the index directory turned out to be around 3.5GB, whereas the cached version of your `wikipedia-dpr` index is 11GB.
Any thoughts?

[2021-08-08 22:44] MXueguang commented on #730
@oriram could you double check if you added `-storeRaw` option?
We built the index with raw collection stored in the index.
The raw collection should be than 3.5G.

Without storing anything additional things (i.e. wtihout storeRaw storeVector etc.) the pure index will  be around 2.5 G

[2021-08-09 11:27] lintool commented on #729
I haven't come across this error before... I assume you've followed the instructions on how to set up a dev installation?
https://github.com/castorini/pyserini/#development-installation

In particular, did you build the Anserini fatjar and put it in the right location?

[2021-08-09 13:44] XY2323819551 opened #731 "About openjdk"
Hi, I created my conda env base on the methods you have provided in this file"https://github.com/castorini/pyserini/blob/master/docs/installation.md"，but I still have some questions.
(1)Need I configure JAVA_PATH after using conda to install openjdk? if it is, how should i do that?
(2)Is this openjdk only valid for the current conda environment?

Looking forward for you reply!

[2021-08-10 17:22] lintool commented on #720
Closing issue. Skeleton repro docs are there... needs more refinement, but no longer need issue.

[2021-08-10 17:22] #720 closed

[2021-08-10 17:22] lintool commented on #731
I don't know off the top of my head... are you getting any errors?

[2021-08-10 17:23] lintool commented on #729
Closing. I assume #731 is the follow-up.

[2021-08-10 17:23] #729 closed

[2021-08-11 15:26] MXueguang commented on #731
Hi @XY2323819551
(1) I think you dont need config JAVA_PATH if you install it via conda
(2) yes I think

[2021-08-12 00:50] XY2323819551 commented on #731
@MXueguang Thank you !/smile

[2021-08-12 00:50] #731 closed

[2021-08-13 14:05] oriram commented on #730
When adding `-storeRaw` the index is indeed around 3.5GB. When adding `-storeContents` it grows significantly (to ~20GB).
Does that make any sense?

[2021-08-13 14:06] oriram commented on #730
Your index (in `pyserini/cache/indexes/index-wikipedia-dpr-20210120-d1b9e6.c28f3a56b2dfcef25bf3bf755c264d04`) is 11GB, however.

[2021-08-13 14:22] lintool commented on #730
`-storeContents` stores the document vector representations in the index, which enable relevance feedback.

Here's the "model card" for the index:
https://git.uwaterloo.ca/jimmylin/anserini-indexes/-/blob/master/index-wikipedia-dpr-20210120-d1b9e6-readme.txt

If you are able to perform retrieval and get the same level of effectiveness, then you should be good.

[2021-08-13 14:28] oriram commented on #730
OK, I think it answers my question :)
Many thanks @MXueguang @lintool!!

[2021-08-13 14:28] #730 closed

[2021-08-13 14:33] lintool commented on #730
Hi @oriram - if you are willing, we would appreciate a contribution of how exactly you reproduced this, so that the next person to come along can just copy and paste a bunch of commands to do what you did.

Attached directly to this issue would be a good start. Maybe later we can figure out how to build a document page around it.

[2021-08-13 14:51] oriram commented on #730
Sure, I basically created a jsonlines file from `psgs_w100.tsv`, similar to the structure you propose:
`{"id": PSG_ID, "contents": TITLE + "\n" + PSG_TXT}`

I then ran
[code]
Where the last flag (`-storeContents`) increased the index from 3.5GB to ~20GB.

@lintool Is this what you had in mind? Any missing details?

[2021-08-13 15:17] lintool commented on #730
@oriram thanks!
@MXueguang do we need anything else for reproduction?

[2021-08-14 00:15] apokali opened #734 "ImportErrors and Transformer version"
Hello

I was trying reproduce https://github.com/castorini/pyserini/blob/master/docs/experiments-msmarco-passage.md Pyserini: BM25 Baseline for MS MARCO Passage Retrieval. For the step where we  index these docs as a JsonCollection using Anserini:

[code]
The following errors occur
[code]

Another issue is with the pip installation. Regarding the post #567 , I tried to install transformers==4.5.0,

[2021-08-17 02:12] lintool opened #738 "Reproduction of Pyserini: TCT-ColBERTv2 for MS MARCO (V2) Collections"
@MXueguang @crystina-z When you get a chance, please do a repro and send PR on log:
https://github.com/castorini/pyserini/blob/master/docs/experiments-msmarco-v2-tct_colbert-v2.md

Should be easy, when `orca` isn't too busy... just copy and paste commands...

[2021-08-19 00:02] MXueguang commented on #734
Hi @apokali ,

this error was just fixed, please pull latest code.

yes, please use transformers>=4.6.0, the post #567 is a bit outdated

[2021-08-21 05:24] samjgorman opened #743 "Supporting K > 10 hits with SimpleSearcher for MSMARCO passage-ranking?"
Hello! The SimpleSearcher class has been quite helpful for me to generate ranked Top K@10 for a BM25 baseline with MSMARCO passage-ranking.

It appears that the output of searcher.search() is contained to 10 hits.  Assuming that this will remain so, but wanted to inquire as to whether you plan on supporting K > 10 lookups? This would make the SimpleSearcher class helpful in creating  more robust T

[2021-08-21 05:30] MXueguang commented on #743
Hi @samjgorman,
We do support K > 10:
[code]
e.g. this command should give you 100 hits.

Is this what you looking for?

[2021-08-21 06:58] samjgorman commented on #743
Yes-- this is exactly what I was looking for.  Just saw that this was mentioned in the release notes of 0.10.0.1.  Perhaps users may benefit from more of an explicit explanation that this is parameterized in the section on SimpleSearch in the readme? Happy to contribute to read.me if helpful. Thank you again!

[2021-08-21 06:58] #743 closed

[2021-08-26 01:22] lintool opened #745 "Add tests cases for new MS MARCO v2 bindings"
E.g., for queries: https://github.com/castorini/pyserini/blob/master/tests/test_load_topics_qrels.py
And for qrels also...

[2021-08-29 09:20] Pourbahman opened #748 "Fetch title of documents in Robust04"
Hi,

I used the following link to fetch **title of each doc in Robust04.**

https://colab.research.google.com/github/castorini/anserini-notebooks/blob/master/pyserini_covid19_default.ipynb#scrollTo=yFZlcqEX0t1f

 I tried different versions of pyserini but in all of them I received the following error when I import pysearch from pyserini.search:

ImportError: cannot import name 'JSearcher' from 'py

[2021-09-03 23:08] ccsasuke opened #749 "Tokenization for uniCOIL queries"
Hi,

I'm trying to run retrieval on some custom queries on uniCOIL, and I'm wondering how the queries in `topics.msmarco-passage.dev-subset.unicoil.tsv` are tokenized?

It looks like BPE tokens, which makes sense, but each token is also repeated multiple times.
Do you have a minimal working script that can tokenize a query string into the uniCOIL format?

Thank you.

[2021-09-03 23:41] MXueguang commented on #749
[code]

[2021-09-03 23:49] ccsasuke commented on #749
Thank you for the prompt reply @MXueguang

I followed the instruction and this is what it gives:
![image](https://user-images.githubusercontent.com/1481766/132074986-ed432b27-cc16-41b0-bd40-a3019e72f840.png)

How do I convert the float weights into integers to generate the tokenized query?

[2021-09-03 23:56] MXueguang commented on #749
you can leave it as `float` now since Anserini taking a weights dict
https://github.com/castorini/pyserini/blob/708cf6742f8987fc2519aeb33ef898e3d1a8c13e/pyserini/search/_impact_searcher.py#L108

if you do want to get integers, we did the quantization by `round(x/5**8)`, (since the weights generated by the model are all in the range of (0, 5))

[2021-09-04 00:01] MXueguang commented on #749
and you can do the e2e search directly by:
[code]

[2021-09-07 20:38] ccsasuke commented on #749
Works like a charm! Thank you.

[2021-09-07 20:38] #749 closed

[2021-09-09 14:46] Pourbahman commented on #748
Hi,

Kindly, it is about 11 days that I did not get any response. Would you please answer my question since I am a user of what you developed?

Thanks in advance,
Kind Regards,
Zahra

[2021-09-10 20:06] lintool commented on #748
Duplicate of https://github.com/castorini/anserini/issues/1628

Hi @Pourbahman - the answer to your question is right on the main page of our README: https://github.com/castorini/pyserini/#how-do-i-fetch-a-document

[2021-09-10 20:06] #748 closed

[2021-09-10 20:10] lintool commented on #734
@MXueguang can this be closed?

[2021-09-10 20:10] MXueguang commented on #734
yes

[2021-09-10 20:10] #734 closed

[2021-09-10 20:11] lintool commented on #712
Ref #753

Done!

[2021-09-10 20:11] #712 closed

[2021-09-10 20:30] Pourbahman opened #757 "About issue #748"
Hi,

Thanks for your reply but I want title of each document of Robust04 not raw text of it. Would you please check my issue #748  again?

Thanks in advance,
Kind Regards,
Zahra

[2021-09-10 21:05] lintool commented on #757
Unfortunately, there is no consistent schema or markup for the title of the document. You'll have to get the raw text and parse it out manually.

[2021-09-10 21:05] #757 closed

[2021-09-11 05:58] Pourbahman opened #758 "About issue #757"
Hi,

Thanks for your reply.
In issue #757, maybe I asked my question badly. I try to ask more precisely. About your answer "You'll have to get the raw text and parse it out manually.", when I extract raw text, it does not contain title and it just contains TEXT tag that is the body of the document. I would appreciate it if you clear your answer.

Thanks in advance,
Kind Regards,
Zahra

[2021-09-11 12:50] lintool commented on #758
Somewhere in the TEXT tag is the title of the document. You'll have to parse it out manually - e.g., matching with a regular expression.

[2021-09-11 13:18] Pourbahman commented on #758
Thanks.
In Robust04 titles are not a part of TEXT tag. Would you please tell me what is your comment about it?

[2021-09-11 13:25] lintool commented on #758
If you can't find the titles there, then the documents must not have titles.

[2021-09-12 06:54] Pourbahman commented on #758
Thanks but suppose the following document:
<DOC>
<DOCNO> FBIS3-21770 </DOCNO>
<HT>    "jptdd010__l94075" </HT>

<HEADER>
<AU>   JPRS-TDD-94-010L </AU>
Document Type:JPRS
Document Title:Narcotics

<DATE1>  7 March 1994 </DATE1>

</HEADER>

<F P=100> EAST EUROPE </F>
<F P=101> ROMANIA </F>
**<H3> <TI>   Interior Minister Discusses `Explosion' of Mafia-Type Crime </TI></H3>**
<F P=102>  AU0403131594

[2021-09-12 07:09] Pourbahman commented on #758
Thanks but suppose document with doc-id=FBIS3-21770 the title is **Interior Minister Discusses `Explosion' of Mafia-Type Crime**:
[code]
**If I use the following code lines:**

[code]

**it returns the content of text tag that it does not have the title that placed in tag `<H3> <TI>` **

`<TEXT>\nLanguage: <F P=105> Romanian </F>\nArticle Type:BFN\n\n<F P=106> ["Exclusive Interview with Lieutenant

[2021-09-12 11:29] lintool commented on #758
For whatever reason, we decided only to index the document contents in `<TEXT>`, so the title ("Interior Minister Discusses `Explosion' of Mafia-Type Crime") does not appear to have made it into the index. This decision of what to index is controlled by this: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/collection/TrecCollection.java

So if you really want the title,

[2021-09-12 18:43] Pourbahman commented on #758
Thanks for your reply.
Have a nice time

[2021-09-12 18:46] #758 closed

[2021-09-21 11:16] joshdevins opened #769 "Incorrect architecture specified for ANCE DPR context encoder model"
In the config for your ANCE DPR context encoder in HuggingFace model hub, the architecture is listed as `DPRQuestionEncoder` but it should be `DPRContextEncoder`. This causes a failure when using "reflection" to check the correct model class type to use.

See: https://huggingface.co/castorini/ance-dpr-context-multi/blob/main/config.json
Related: https://github.com/huggingface/transformers/issues/1

[2021-09-21 15:22] stekiri opened #770 "Incorrect encoding on Windows"
When using pyserini under Windows, it seems that the encoding of strings is breaking when passed to the JNI via the [pyjnius](https://github.com/kivy/pyjnius) package.

It happens when a string is encoded as UTF-8 like this `JString(my_str.encode('utf-8'))` (e.g., https://github.com/castorini/pyserini/blob/master/pyserini/search/_searcher.py#L114). It only occurs under Windows as it must collide w

[2021-09-21 16:10] stekiri commented on #770
In fact, it can also be fixed by setting `set _JAVA_OPTIONS=-Dfile.encoding=UTF-8` as mentioned [here](https://github.com/castorini/pyserini/blob/master/docs/installation.md#troubleshooting-tips). The Java option is indeed a bit confusing as it is not only about files, but also about other internals apparently 😞

I am wondering what the best solution for this one is 🤔

If dropping the `.encode('ut

[2021-09-21 16:56] lintool commented on #770
Hi @stekiri - thanks for raising this issue!

My memory is a bit fuzzy here, but `.encode('utf-8')` was in response to an earlier underlying issue with pyjnius. If pyjnius has address this issue in a platform independent manner, then, yes, we should probably remove in pyserini.

Would you mind sending a PR to that effect? It'd be great if you also included a test case that would catch this issue i

[2021-09-21 16:56] lintool commented on #769
@MXueguang this is your code, right? Can you please take a look?

[2021-09-21 16:58] MXueguang commented on #769
Yes, @lintool
@joshdevins, thank you for catching the issue, I'll update the model on hugging face.

[2021-09-21 17:02] MXueguang commented on #769
It shouldn't affect results, but I'll rerun to make sure it works.

[2021-09-22 07:57] joshdevins commented on #769
Thanks @MXueguang , can you close this issue when the `config.json` is updated? Then I can try it again 🙏

[2021-09-22 09:31] stekiri commented on #770
I looked a bit into the PR/commit history to better understand this 🕵️

Please, correct me if I got it wrong 😉

The original issue was that it wasn't possible to use special characters in jnius ([issue](https://github.com/kivy/pyjnius/issues/437) and [PR](https://github.com/kivy/pyjnius/pull/524)). The changes are present in `pyjnius>=1.3.0` ([jnius_conversion.pxi](https://github.com/kivy/pyjnius/

[2021-09-22 09:43] MXueguang commented on #769
@joshdevins, I just updated the `config.json`

[2021-09-22 09:48] joshdevins commented on #769
Perfect, works for me now, thanks! Note that `AutoModel` still doesn't work but that's related to this HuggingFace bug: https://github.com/huggingface/transformers/issues/13670

[2021-09-22 09:48] #769 closed

[2021-09-22 13:26] lintool opened #775 "Add regression tests for dense PRF"
We can add directly to the ANCE test case:
https://github.com/castorini/pyserini/blob/master/integrations/dense/test_ance.py

[2021-09-22 22:21] lintool commented on #556
Done! Group has seen demo and had an internal discussion.

[2021-09-22 22:21] #556 closed

[2021-09-22 22:37] MXueguang commented on #705
https://github.com/castorini/pyserini/blob/82f842218f8c5c7c451b2e463774d7bdf6bc0653/pyserini/hsearch/_hybrid.py#L74
implemented.

[2021-09-22 22:37] #705 closed

[2021-09-23 03:44] apokali opened #777 "ValueError in uniCOIL (w/ doc2query-T5) for MS MARCO (V1)"
Hi

I was trying to reproduce the experiment https://github.com/castorini/pyserini/blob/master/docs/experiments-unicoil.md.

In the step where we run the retrieval for MS MARCO
[code]

The following error occurred
[code]

Thanks, Xuntian

[2021-09-23 03:49] MXueguang commented on #777
Hi @apokali, I think with `.gz` file, we need to use the latest Anserini build.
I.e. Do https://github.com/castorini/pyserini#development-installation with `fat.jar` file from latest Anserini code.
Otherwise, you have to unzip the `.gz` topic and use `tsv` directly.

[2021-09-23 04:03] apokali commented on #777
@MXueguang Thank you, problem solved!

[2021-09-23 04:07] #777 closed

[2021-09-23 10:53] lintool commented on #770
Yup, I agree - this is a great course of action!

Just for completeness, can we add test case per (3) and in the comments reference this awesome issue that summarizes the progressions of the issues?

Thanks so much!

[2021-09-23 11:00] lintool opened #778 "Test failures on DPR and TCT"
hey @MXueguang @jacklin64 @justram I'm getting the following test failures.

Please take a look and let's figure out what happened?

[code]

[2021-09-23 22:13] jacklin64 commented on #778
<img width="1216" alt="截圖 2021-09-23 下午6 12 46" src="https://user-images.githubusercontent.com/18071510/134590990-4ed36ba2-6387-4052-b20f-811c62bc8c32.png">
It seems that one of the errors comes from the warning from importing tensorflow ? When I run msmarco evaluation using pyserini I got the same warning message.

[2021-09-24 13:34] justram commented on #778
Checking TCT, there's only a small diff till f614111

======================================================================
FAIL: test_msmarco_doc_tct_colbert_bf_bm25_hybrid_otf (test_tct_colbert.TestSearchIntegration)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/store/scratch/j587yang/project/pyserini/integrations/dense/test_t

[2021-09-24 18:59] lintool opened #781 "Get rid of annoying TensorFlow warning"
[code]

The warning is confusion and non-relevant.

[2021-09-24 22:44] lintool commented on #778
I'm running again based on fix at #780 - will report back results.

[2021-09-26 09:17] lintool commented on #778
I'm getting this now:

[code]

Seems to be related to #781 ...

[2021-09-26 14:17] hanglics commented on #775
Added and tested via PR #782.

[2021-09-26 15:02] lintool opened #783 "Integrate ADORE into Pyserini"
https://github.com/jingtaozhan/DRhard

[2021-09-26 19:21] lintool commented on #778
Trying again, post #784.

[2021-09-26 19:26] lintool commented on #781
Pyserini does not depend on TF, but hgf internally is pulling it in. Since we do not have control over what hgf is doing here, the best advice from @MXueguang  is just to remove TF from the environment.

My env indeed has TF:

[code]

`pip` uninstalling TF seems to have quieted the warnings.

[2021-09-26 19:26] #781 closed

[2021-09-26 19:26] lintool commented on #775
Testing as part of #778 - will close when everything passes.

[2021-09-28 05:22] ArvinZhuang commented on #783
PR opened #785
But there is a problem: due to transformers version mismatch, the on-the-fly scores cannot match preprocessed queries (quite a bit, 1 point lower on ms marco passage). The original model checkpoint requires a tokenizer from `transformers==2.8.0`, but pyserini uses a higher version.

[2021-09-28 21:18] lintool commented on #778
At commit `fa237ac355b6c902d916ecc9ed01a930e9f29b7c`, on `damiano`.

[code]

🎉

[2021-09-28 21:18] #778 closed

[2021-09-28 21:18] lintool commented on #775
Tests pass, ref #778.

[2021-09-28 21:18] #775 closed

[2021-09-28 22:02] lintool opened #786 "BM25 integration tests for Mr.TyDi v1.1"
@crystina-z let's start with BM25 - base your code on test cases here:
https://github.com/castorini/pyserini/tree/master/integrations/sparse

[2021-09-30 12:45] lintool opened #787 "clprf failing tests"
[code]

My environment:

[code]

On Linux.

Differences are small, but we should still check out...

[2021-10-01 11:15] lintool commented on #787
Tests pass on my iMac Pro:

[code]

Strange...

[2021-10-01 12:28] lintool commented on #787
Digging into this more, we have this basic failure, once again, on `damiano`:

[code]

[2021-10-01 12:46] lintool commented on #787
Ah, got it!

Issue is here: https://github.com/castorini/anserini/blob/master/docs/regressions-log.md#september-2-2021

Regressions using old indexes still pass, but fail for up-to-date index. So yes, regression numbers need to be recalibrated.

[2021-10-01 17:58] Qiaoyf96 opened #791 "-impact not recognized"
Hi,

I am trying to reproduce the deepimact retrieval on MSMARCO (v1) following https://github.com/castorini/pyserini/blob/master/docs/experiments-deepimpact.md. However, when I execute pyserini.search, it shows the following error:

[code]

Could you please share some idea on this?

Thanks!

[2021-10-01 18:02] MXueguang commented on #791
Hi @Qiaoyf96,

that feature is not released to `pypi` yet.
please follow this [guidance](https://github.com/castorini/pyserini#development-installation) to install `pyserini` in development setting

[2021-10-01 19:13] Qiaoyf96 commented on #791
Thank you so much!

[2021-10-01 19:13] #791 closed

[2021-10-01 19:15] Qiaoyf96 opened #792 "KeyError when reproducing deepimpact on MSMARCO"
Hi,

I am trying to reproduce the deepimpact result on MSMARCO following https://github.com/castorini/pyserini/blob/master/docs/experiments-deepimpact.md, but received the following error:

[code]

Could you please take another look? Thank you in advance for your help.

[2021-10-01 19:20] MXueguang commented on #792
@Qiaoyf96  It seems like a bug caused by a recent change will fix it soon.

[2021-10-01 19:23] Qiaoyf96 commented on #792
Got it. Thanks!

[2021-10-01 19:39] MXueguang commented on #792
should be fix in this PR https://github.com/castorini/pyserini/pull/793

[2021-10-01 19:41] lintool commented on #792
@Qiaoyf96 Once you are able to reproduce, please contribute to our log: https://github.com/castorini/pyserini/blob/master/docs/experiments-deepimpact.md#reproduction-log

[2021-10-02 04:45] Qiaoyf96 commented on #792
Thanks! I have successfully reproduced the result and created a PR to update the log.

[2021-10-02 04:45] #792 closed

[2021-10-03 18:59] lintool commented on #787
Fix confirmed on Linux and Mac.

[2021-10-03 18:59] #787 closed

[2021-10-04 18:52] lintool commented on #659
Noting apparent code duplication I just discovered:

https://github.com/castorini/pyserini/blob/master/pyserini/dindex/_base.py#L54
https://github.com/castorini/pyserini/blob/master/pyserini/encode/_dpr.py#L22

[2021-10-04 22:22] lintool commented on #770
Closed by #795

[2021-10-05 02:35] MXueguang opened #798 "dense retrieval from multiple index shard"
its good to support dense retrieval from multiple faiss index shard.
this would be more friendly for machine with limited RAM. (and further support GPU retrieval)

[2021-10-05 02:37] MXueguang commented on #798
this also means it is not a must to merge faiss indexes after doing encoding.

[2021-10-05 04:35] MXueguang commented on #659
@lintool
The first stage of code reorganization targeting at following current modules:
- `pyserini.dindex`: encoding raw collections in `jsonl` format, store as Faiss flat index. This module currently contains all document encoder class for dense retrieval.
- `pyserini.index`: build lucene index
- `pyserini.dsearch`: do dense search on faiss index. This module currently contains all query encoder

[2021-10-05 11:10] lintool commented on #659
My vote is for (1) `pyserini.search.faiss`, `pyserini.search.lucene`, `pyserini.search.nmslib`

Thus:
+ `SimpleSearcher` -> `LuceneSearcher`
+ `ImpactSearcher` -> `LuceneImpactSearcher`
+ `SimpleDenseSearcher` -> `FaissSearcher`
+ `NmslibSearcher`

We should retain the old names and package locations as facades of the properly refactored structure so that old command still work. However, these old

[2021-10-05 11:37] lintool commented on #798
Agreed. Seems like a good URA task.

[2021-10-05 17:05] lintool opened #800 "Unit test failure: test_unicoil_encoder"
@MXueguang any ideas?

[code]

[2021-10-05 18:02] MXueguang commented on #800
sorry I forgot a commit in the PR before....

[2021-10-05 18:39] lintool commented on #704
@MXueguang we can close this issue right?

[2021-10-05 18:40] MXueguang commented on #704
closed by https://github.com/castorini/pyserini/pull/796

[2021-10-05 18:40] #704 closed

[2021-10-05 20:45] lintool opened #803 "Integrate DensePhrases into Pyserini?"
https://github.com/princeton-nlp/DensePhrases

Possible URA project?

[2021-10-06 18:06] MXueguang opened #806 "prepare prebuild impact indexes"
- unicoil for msmarco-passage
- unicoil for msmarco-doc
- unicoil for msmarco-v2-passage
- unicoil for msmarco-v2-doc
- unicoil-tilde for msmarco-passage
- unicoil-tilde for msmarco-v2-passage
- spladev2 for msmarco-passage
- deepimpact for msmarco-passage

[2021-10-06 18:07] MXueguang opened #807 "integration test for impact search"
integration test for impact search
https://github.com/castorini/pyserini/issues/806

[2021-10-06 20:41] MXueguang opened #808 "pyjnius version need to >=1.4.0"
related to https://github.com/castorini/pyserini/pull/795
confirmed that pyjnius >= 1.4.0 doesn't need the `.encode('utf-8')`

need to update `requirements.txt`

[2021-10-07 14:56] oriram opened #810 "Multiprocessing with compute_query_document_score (in IndexReader)"
Hi,
I'm trying to parallelize many computations of `index_reader.compute_query_document_score(docid, query)`,  but the following error is raised:
`
TypeError: no default __reduce__ due to non-trivial __cinit__
`
Any idea on how to solve this issue?

Many thanks!!

[2021-10-08 02:47] MXueguang opened #814 "topics name for msmarco v2"
https://github.com/castorini/pyserini/blob/5ca3ad0d683e174d8d4a0595639141f732cb1705/pyserini/search/_base.py#L156-L158

@lintool  as discussed today, `msmarco-v2-passage` makes more sense?
seems we need to update anserini as well if that's the case

[2021-10-08 02:50] MXueguang commented on #810
IIRC index_reader not support parallel access? @lintool

[2021-10-15 21:21] MXueguang commented on #798
@nimasadri11 will work on this.
start with reproducing the TCT_Colbert results [here](https://github.com/castorini/pyserini/blob/master/docs/experiments-tct_colbert.md#dense-retrieval)?
and then split the index into shard and implement the retrieval from multiple sub-index.

[2021-10-16 00:35] MXueguang opened #827 "add faiss ivf index feature"
It's good to add ivf feature here
https://github.com/castorini/pyserini/blob/master/pyserini/index/faiss.py

ref comments from @t-k- : https://github.com/castorini/pyserini/issues/798#issuecomment-944807307
we also need to think about the way to split the index during index time.

[2021-10-18 18:30] Qiaoyf96 opened #830 "docs.json"
Hi,

I am trying to reproduce the MS MARCO Document Ranking with TCT-ColBERT-V2 (zero-shot). I saw the following step:

[code]

My question is, do you guys provide the script to produce this `docs.json`, or do I need to write it on my own?

Thanks,
Yifan

[2021-10-18 19:23] MXueguang commented on #830
Hi @Qiaoyf96, currently please follow the script in our docTTTTTquery repo

Concretely, following the instruction below:

you probably need some minor modification to the script to get the above required format.
Notice that in the docTTTTTquery repo we use spacy version 2.1.6

[2021-10-21 16:25] MFajcik opened #831 "RM3 and batch search"
Hi, I was trying to do an experiment with retrieval based on interpolation of the query model and the relevance model (so-called 'RM3'), and I 've noticed a not well understood error.

I use JDK 11 (from Oracle) and pyserini==0.13.0.

1. I build an index like this
[code]
2. I initialize a SimpleSearcher, and turn on RM3
[code]

3. I run the batch search and obtain the error:
[code]

Causes:
[code]

[2021-10-25 22:27] lintool opened #833 "Index metadata description of msmarco-v2-passage.unicoil-tilde"
hey @MXueguang take a look at this:
https://github.com/castorini/pyserini/blob/master/pyserini/resources/index-metadata/lucene-index.msmarco-v2-passage.unicoil-tilde.20211012.58d286.readme.txt

Document references `unicoil-noexp-0shot`... so you might have mixed something up?

[2021-10-26 05:24] JMMackenzie opened #834 "Pre-tokenized queries for TRECDL"
For most of the examples provided (both here and Anserini), pre-tokenized queries are available for systems like uniCOIL.

I'm wondering if pre-tokenized queries could also be made available for the corresponding TRECDL queries? If not, could you provide guidance on going from the `.tsv` files to the re-weighted/tokenized queries?

[2021-10-27 00:19] #833 closed, assigned to MXueguang

[2021-10-27 00:22] lintool opened #839 "SimpleDenseSearcher.from_prebuilt_index doesn't work for BPR indexes"
Issues exposed by `scripts/validate_prebuilt_indexes.py`:

[code]

[2021-10-27 13:36] lintool opened #841 "Broken clprf integration tests"
At commit 56527181dc70226fd57194dbe3f322e56594269c:

[code]

[2021-10-27 18:49] lintool opened #842 "Implement model 1 baseline from Boytsov + Kolter"
Paper: https://arxiv.org/abs/2102.06815

What the paper calls "Non-parametric Model 1", basically eq (2) and eq (3).

[2021-10-29 18:24] yuki617 commented on #770
@stekiri @lintool Just added a minimal test tests.test_index_reader.test_doc_vector_emoji_test which encapsulates this emoji encoding issue. Ready to move on for further discussion.

[2021-10-29 19:06] lintool commented on #770
I worked on the test case a bit more here: #847

[2021-10-29 19:17] lintool opened #848 "Upload prebuilt index for MS MARCO Document Ranking with TCT-ColBERT-V2 (zero-shot)"
https://github.com/castorini/pyserini/blob/master/docs/experiments-tct_colbert-v2.md#ms-marco-document-ranking-with-tct-colbert-v2-zero-shot

[2021-10-30 02:04] lintool opened #850 "pyserini.search option --min-idf should be --min-df"
The command:

[code]

The option `--min-idf` should be `--min-df` instead. The "i" stands for inverse, which is not applicable here.

[2021-10-30 02:37] MXueguang commented on #850
we want to filter out the terms have high document frequency. Terms with high document frequency has low inverse document frequency. i.e. stop words have low idf. e.g. "is" have idf close to 0.

[2021-10-30 02:59] lintool commented on #850
I see. I had a different interpretation of filtering as "keeping" or "discarding". All good.

[2021-10-30 02:59] #850 closed

[2021-10-30 13:45] lintool opened #851 "Update DPR compression paper from EMNLP 2021"
When paper official comes out, change the reference:
https://github.com/castorini/pyserini/blob/master/docs/experiments-dpr-compression.md

We should also move the data from Dropbox into S3.

[2021-10-30 16:36] #814 closed

[2021-10-30 19:24] lintool commented on #770
Hi @stekiri it does seem like we have to revert #795 and add `.encode('utf-8')` back in?

It seems like the fix is to clarify in documentation, per above?

Thoughts?

Let's all sit on this for a few days... but not too long, because I'd like to cut a pypi release soon-ish.

[2021-10-30 19:36] MXueguang opened #853 "dynamically import dependencies"
e.g. tevatron uses pyserini for evaluation, EntityQuestion uses pyserini for bm25 search.
in those case, its not make sense to let user install faiss/torch/onnxruntime etc.
we can utilize transformers utils `is_backend_avaliable` and `requires_backend` to dynamically import dependencies

[2021-10-31 01:23] #745 closed

[2021-10-31 13:07] lintool opened #854 "msmarco-document-ltr details"
Hey @stephaniewhoo - Looking at:

[code]

Is this is based on the `msmarco-doc-per-passage` segmentation? If so, I think it should be named `msmarco-doc-per-passage-ltr` instead?

Additional points:
+ We need a README?
+ Did you use `-optimize` so we get accurate vocab count?

[2021-11-02 03:27] xiahaoyun commented on #830
It does need some modification, because in  this [script](https://github.com/castorini/docTTTTTquery/blob/c6e2a2302e19880cac0c958a8175d5e451979910/convert_msmarco_passages_doc_to_anserini.py#L65) `url title seg_text` is separated by ` space` instead of `\n`

[2021-11-02 17:57] jacklin64 opened #857 "Adding CAsT19 dense index to Pyserini"
index file on orca: `store/scratch/s269lin/cqe.experiment/cast/indexes`
The according hfg model: https://huggingface.co/castorini/tct_colbert-v2-msmarco

[2021-11-02 18:31] nimasadri11 opened #858 "unittest broken"
`python -m unittest` fails.

[code]

[2021-11-02 18:32] nimasadri11 commented on #858
-- sending PR for the fix

[2021-11-02 18:45] MXueguang commented on #858
the issue seems not an unittest issue. running unittest on latest code should solve this problem.
it's actually an environment setup issue, @nimasadri11  updated the installation guide for development installation.
ready for close.

[2021-11-02 18:45] #858 closed

[2021-11-02 19:15] lintool commented on #715
Closed.

[2021-11-02 19:15] #715 closed

[2021-11-03 19:27] stekiri commented on #770
@lintool, I looks indeed like the `pyjnius` package does not deal correctly with emojis. It's possible to make your test pass if you change [this line](https://github.com/castorini/pyserini/blob/5469a399fe77504bfd6043cc7400746e97754659/pyserini/index/_base.py#L299) to:

[code]

And [this line](https://github.com/castorini/pyserini/blob/5469a399fe77504bfd6043cc7400746e97754659/pyserini/index/_base.

[2021-11-03 20:01] lintool commented on #770
@stekiri I like the solution of just killing all the `JString` wrapping... if it doesn't break any of our regressions tests (beyond just what the test case exposes)...

Do you have the cycles to send a PR along those lines? If not, we can ask @yuki617 .

[2021-11-04 20:41] lintool commented on #841
Update: I just finished running the following on my iMac Pro:

[code]

Amazingly, all 44 tests passed in ~6.3 hours. I said to myself, that can't be right, since previously, the same test suite took ~26.1h. Except that the result appears to be correct!

Dropping the `JString` wrapping increases performance also because we're not needlessly creating a bunch of objects in the inner loop. Yay!

Just

[2021-11-05 00:48] lintool commented on #281
I think with better tests in anserini per https://github.com/castorini/anserini/pull/1671 - duplicate tests here aren't worth the trouble.

[2021-11-05 00:48] #281 closed

[2021-11-05 01:24] #839 closed

[2021-11-05 11:23] lintool commented on #808
Closed by #865

[2021-11-05 11:23] #808 closed

[2021-11-05 11:24] lintool commented on #841
Final wrap-up: #863

[2021-11-05 11:24] #841 closed

[2021-11-05 11:24] lintool commented on #770
Final wrap-up #863

[2021-11-05 11:24] #770 closed

[2021-11-05 17:41] lintool commented on #854
Closed by #856 #866

[2021-11-05 17:41] #854 closed

[2021-11-05 18:55] lintool opened #867 "Reproduction docs and scripts for TREC 2021 Clinical Trials Track"
+ Add script from munging raw XML corpus into Pyserini JSON format.
+ Add repro instructions

[2021-11-06 12:48] lintool commented on #857
Uploaded for @jacklin64

[2021-11-06 12:48] lintool commented on #848
Uploaded for @MXueguang

[2021-11-06 13:48] lintool commented on #851
Link to ACL Anthology version: https://aclanthology.org/2021.emnlp-main.227/

[2021-11-06 15:29] lintool opened #868 "Simplify initialization of prebuilt dense indexes"
Currently, we do something like:

[code]

Or alternatively, we have to specify a `query_encoder`.

But every prebuilt index already "knows" which query encoder we have to use, right? So we can directly stick into a the JSON info? https://github.com/castorini/pyserini/blob/master/pyserini/prebuilt_index_info.py#L628

[2021-11-06 15:30] lintool commented on #868
Also, do we have something like `QueryEncoder.from_huggingface('model')`?

[2021-11-08 13:33] lintool commented on #848
Closed by #869

[2021-11-08 13:33] #848 closed

[2021-11-08 13:34] lintool commented on #807
Closed by #871

[2021-11-08 13:34] #807 closed

[2021-11-09 18:33] lintool commented on #857
Closed by #874

[2021-11-09 18:33] #857 closed

[2021-11-09 18:34] lintool commented on #599
With v0.14.0 release, we're sync'ed up. Closing.

[2021-11-09 18:34] #599 closed

[2021-11-09 18:46] lintool opened #878 "Eliminate sparse integration dependencies on Dropbox"
If we run:

[code]

There are still parts that pull from Dropbox. We should eliminate this dependency...

@stephaniewhoo I think this is your LTR code?

[2021-11-09 21:03] lintool opened #879 "Broken LTR test case"
Starting from an empty index cache, I'm getting the following:

[code]

Seems like the test case assumes the index is already there? We should make the test case more robust...

[2021-11-10 02:27] lintool commented on #879
The error manifests as:

[code]

[2021-11-11 10:50] JosieChen1214 opened #881 "zsh: killed python3 -m pyserini.dsearch --topics dpr-nq-test --index --encoded-queries"
Sorry for bothering you.

When I run python -m pyserini.dsearch --topics ... from the terminal on the MacBookPro with M1, the program always displays zsh: killed python -m Pyserini.dsearch --topics ...

What should I do for solving this problem?

[2021-11-11 12:37] lintool commented on #881
Can you please send us the error trace?

[2021-11-11 12:59] JosieChen1214 commented on #881
josiechen@JosiechendeMacBook-Pro ~ % python -m pyserini.dsearch --topics dpr-nq-test \
--index wikipedia-dpr-multi-bf \
--encoded-queries dpr_multi-nq-test \
--output /Users/josiechen/run.dpr.nq-test.multi.bf.trec \
--batch-size 36 --threads 12
Attempting to initialize pre-encoded queries dpr_multi-nq-test.
/Users/josiechen/.cache/pyserini/queries/query-embedding-dpr_multi-nq-test-20210419-9323ec.

[2021-11-11 13:43] lintool commented on #881
What machine are you trying to run this on? I suspect it's a memory issue... @MXueguang any ideas?

[2021-11-11 14:19] JosieChen1214 commented on #881
I've tried to run this on Linux and MacOS. The above was the result of running on MacOS. And linux also failed because of the problem of server cache. I'm trying to upload the index from the local to the Linux server now.

[2021-11-11 14:54] MXueguang commented on #881
Hi @JosieChen1214
dpr index requires around 64gb RAM.
Could you double check if you have enough RAM?

[2021-11-12 04:53] #878 closed

[2021-11-12 04:53] #879 closed

[2021-11-12 16:55] lhuang9703 opened #884 "No module named pyserini.index.merge_faiss_indexes"
When I try to create the full dpr index by merging the sub-indexes by: python -m pyserini.index.merge_faiss_indexes --prefix indexes/dindex-sample-dpr-multi- --shard-num 4
It seems merge_faiss_indexes can not work! I don't find its implementation codes in pyserini/index.

[2021-11-12 17:12] MXueguang commented on #884
Hi @lhuang9703, please look at this for now.
https://github.com/castorini/pyserini/blob/pyserini-0.13.0/pyserini/dindex/merge_indexes.py

pyserini.dindex was removed during refectoring, I'll add the merge_faiss_indexes to pyserini.index soon.

[2021-11-14 15:11] JosieChen1214 commented on #881
Thank you for helping me find the cause and for your patience. I'm very sorry for bothering you. Thank you again!!!

[2021-11-14 15:11] #881 closed

[2021-11-15 08:54] neginghasemi opened #885 "Faiss for SimpleSearcher"
When I try to import the SimpleSearcher from pyserini.search, I get an error which asks me to install faiss. When I install faiss, I got the error "No module named '_swigfaiss'". This problem appeared when I started using version '0.14.0'.

[2021-11-15 12:43] lintool commented on #885
How are you installing Faiss? Have you tried the instructions here? https://github.com/castorini/pyserini/blob/master/docs/installation.md

[2021-11-16 12:25] fatihsolmaz22 opened #886 "Default Stemmer/Stopwords and retrieval (multilingual IR)"
Hello, I'm using pyserini for a project of mine in college. I was using this..

`
python3.6 -m pyserini.index -collection JsonCollection -generator DefaultLuceneDocumentGenerator -threads 44 -language de -input indexing -index indexing/created_index -storePositions -storeDocvectors -storeRaw
`

..to create an index over my **German** dataset. But when I run this command it says:

[code]

So somewh

[2021-11-18 08:30] lhuang9703 commented on #884
Thanks!

[2021-11-25 13:07] fatihsolmaz22 commented on #886
For anyone searching for a simple answer: Yes it does work what it should. Takes the GermanAnalyzer by Lucene. The logs are just not as well placed in the code (executes even if it doesn't provide correct/relevant information).

[2021-11-25 13:29] lintool commented on #886
Hi @fatihsolmaz22 sorry about the late reply... our group was busy with TREC last week. Glad you got these issues sorted out.

Please send a PR to help improve our documentation? Thanks!

[2021-11-25 16:06] namespace-Pt opened #889 "Question about ImpactSearcher"
In DeepImpact reproduction tutorial, you've mentioned setting `-impact` to enable impact scores instead of BM25. After checking python source code, I have questions about how the `ImpactSearcher` works.

In the original DeepImpact paper, the author summed up the quantized impacts of all matching tokens in the document to generate a document relevance score, which is described as:

Therefore, it is

[2021-11-25 16:09] lintool commented on #889
The quantization is handled at the indexing end, specified in the corpus in our jsonl format. So `ImpactSearcher` does not handle (1) above.

Yes, `ImpactSearcher` handles (2) and (3) above. You'll have to look at the Java code to see how the impl actually works: https://github.com/castorini/anserini/blob/master/src/main/java/io/anserini/search/SimpleImpactSearcher.java

[2021-11-25 16:15] namespace-Pt commented on #889
Thanks for your soon reply! Another question, can I directly use token ids of the documents to build index and also search with token ids with `-pretokenized` option?

[2021-11-25 16:18] lintool commented on #889
Yes, if the corpus contains token ids and the search queries are also in terms of token ids, it should work. If you are pursuing this route, we would appreciate a test case demonstrating this usage.

[2021-11-25 16:21] namespace-Pt commented on #889
Okay thank you again. Actually I'm working on it. Maybe I will turn to you when I meet some problems. I will close this issue.

[2021-11-25 16:21] #889 closed

[2021-11-26 03:30] namespace-Pt opened #890 "How to include customized model in scoring a document?"
I have reproduced deep impact model, which consumes a passage and output the each token's score in the passage. I examined the tutorial about reproducing DeepImpact, however I didn't find a way to integrate my model's scoring into searching process. How can I achieve this?

[2021-11-26 05:36] namespace-Pt commented on #890
I checked the downloaded corpus (json files) in the tutorial, and found each passage consists of three attributes: `id`, `content` and `vector`. In the `vector` field, I found a series of tokens and their scores that I expected to be the tokens' DeepImpact score.

However, I found the score of each token is an interger, **does this mean a beforehand quantization?**. I also found the `content` fiel

[2021-11-26 06:14] MXueguang commented on #890
Hi @namespace-Pt
1. yes,  getting your custom `jsonl` file in the same format, you will be able to run the `pyserini.index` to index.
i.e.
[code]
2. yes, the quantization needs to be done by yourself (i.e. when you prepare the `jsonl` file). We usually quantitative the weights into integers in range [0-255].
3. The contents are just an optional field here. Note that the weights are not generated f

[2021-11-26 06:16] namespace-Pt commented on #890
Thank you very much Xueguang. I'll close the issue.

[2021-11-26 06:16] #890 closed

[2021-11-27 05:19] lintool commented on #890
@namespace-Pt If you've done a successful reproduction, can you please send a PR to add to the log - at the bottom of the page?

[2021-11-27 05:47] namespace-Pt commented on #890
@lintool I will do that after training and testing the model.

[2021-11-28 22:29] fatihsolmaz22 commented on #886
Hi @lintool. Don't worry! Once I'm done with school work I will try to find time to send a PR. Thanks for the great framework. It helped me out a lot.

[2021-11-28 22:29] #886 closed

[2021-11-29 00:55] lintool commented on #885
Having heard no follow up, I'm closing issue. Please re-open if there are any questions.

[2021-11-29 00:55] #884 closed

[2021-11-29 00:57] lintool commented on #867
See #883 - I'll repro when I get a chance. Also, we should add a link to README.

I'll close issue once above is done.

[2021-11-29 20:07] cakiki opened #894 "[QUESTION] Index collection from Python Generator"
Hello, I'm currently working my way through the [DIY indexing tutorial](https://github.com/castorini/pyserini#how-do-i-index-and-search-my-own-documents) and was wondering whether it would be possible to pass a python generator that yields dictionaries instead of a JSON collection to the `-collection`/`-generator` flags.

[2021-11-29 22:27] lintool commented on #894
This would be challenging, as Pyserini's indexer is just a shim layer to the underlying Java indexer... you'd need to expose more hooks/abstractions from the Java/Lucene end than what's currently exposed.

However, any such implementation will likely be slow because of (1) Python/Java datatype conversions, and (2) Lucene depends on multi-threading to make indexing fast... and I'm not sure you can

[2021-11-30 10:39] cakiki commented on #894
Thank you very much! This does indeed seem not to be worth the effort.

I'll go ahead and close the issue.

[2021-11-30 10:39] #894 closed

[2021-12-03 05:24] namespace-Pt commented on #890
@lintool I've initiated a PR in `pyserini`.

[2021-12-03 12:06] lintool commented on #890
Thanks, left a comment for you.

[2021-12-05 07:28] hsiaoyi0504 opened #896 "Entity linking script seems to be outdated"
For example,
https://github.com/informagi/REL/blob/f6d20e7388a09ce4300f7606668568fd1c5e5926/tutorials/02_E2E_Entity_Linking.md
The input text format seems to be a dictionary using a list (`[text, []]`) rather than `text` only now.

[2021-12-05 16:04] lintool commented on #896
Hi @hsiaoyi0504 thanks for pointing out. Indeed, that's likely the case.

We'd appreciate a PR to update the script!

[2021-12-05 16:05] lintool commented on #786
I've started bow BM25 regressions here: https://github.com/castorini/anserini/pull/1685

[2021-12-06 09:07] chriskamphuis commented on #885
You should not need `faiss` for SimpleSearcher right?

[2021-12-06 12:44] lintool commented on #885
The imports might have transitively pulled in things that need faiss..

[2021-12-08 05:13] hsiaoyi0504 opened #900 "How named entity recognition result be used?"
Although checking several documents, I still not sure how the named entity recognition result will be used like what's the default behavior if there is NER key in the collection JSON files?

[2021-12-11 05:22] waylight3 opened #901 "Lucene codec error when load prebuilt index"
[code]
After I typed this command, it results
[code]
I followed [Development Installation](https://github.com/castorini/pyserini/blob/master/docs/installation.md) to install pyserini.
This also happens when I just try to load prebuilt index using SimpleSearcher.
Belows are my `pip list` reusults.
[code]

[2021-12-11 13:15] lintool commented on #901
Hi @waylight3 thanks for reporting this. We recently upgraded Lucene from 8.3 to 8.11, so that's probably the cause of this error. I'll look into it.

[2021-12-12 19:28] #901 closed

[2021-12-12 19:29] lintool commented on #901
Hi @waylight3 this issue should be fixed. Can you please give it a try and confirm? Please re-open issue if it persists...

[2021-12-13 18:08] isoboroff opened #903 "IndexOutOfBoundsException calling get_term_counts"
This is code to print the top tf.idf-weighted terms from documents in a run:
[code]
The run I am iterating is a BM25 retrieval run on robust04 from Pyserini.  On topic 301, document FBIS4-40260, term 'it' (tf=2), I get the following error:
[code]

[2021-12-13 18:11] lintool commented on #903
Hey @isoboroff - quick sanity check: did you index with the doc vector stored? e.g., `--storeDocvector`

https://github.com/castorini/pyserini/#how-do-i-index-and-search-my-own-documents

[2021-12-13 18:13] isoboroff commented on #903
This is the prebuilt robust04 index

[2021-12-13 18:17] lintool commented on #903
It seems like the prebuilt index _does_ have the doc vectors stored: https://github.com/castorini/pyserini/blob/master/docs/prebuilt-indexes.md#standard-lucene-indexes

And: https://github.com/castorini/pyserini/blob/master/pyserini/resources/index-metadata/index-robust04-20191213-readme.txt

Can you print out `vec`:
[code]
And see what's actually in there?

[2021-12-13 18:23] isoboroff commented on #903
Looks ok to me:
[code]

[2021-12-13 18:25] isoboroff commented on #903
It happens for quite a few terms:
[code]
Suspected it might be a stopword thing, but it's not.

[2021-12-13 18:26] lintool commented on #903
I suspect it's some issue wrt mismatch between stemmed vs. unstemmed forms?

Check out:
https://github.com/castorini/pyserini/blob/master/docs/usage-indexreader.md#how-do-i-compute-the-tf-idf-or-bm25-score-of-a-document

[2021-12-13 18:26] isoboroff commented on #903
That would be weird since I'm iterating the indexed terms...?

[2021-12-13 18:27] lintool commented on #903
Try this? https://github.com/castorini/pyserini/blob/master/docs/usage-indexreader.md#how-do-i-iterate-over-index-terms-and-access-term-statistics

[2021-12-13 18:30] lintool commented on #903
`get_term_counts` seems to analyze (stem) what you feed it:
https://github.com/castorini/pyserini/blob/master/pyserini/index/_base.py#L280

So if you feed it analyzed terms from the index, it'll try to do it again... I think?

[2021-12-13 18:32] isoboroff commented on #903
Yes, that is what is happening.  Confirmed that setting `analyzer=None` avoids the problem.  Thank you!

[2021-12-13 18:33] #903 closed

[2021-12-13 19:44] noam1023 commented on #903
I thought stemming is idempotent. I guess I was wrong. i.e. somewhere - somewher - NONE

[2021-12-13 22:32] #885 closed

[2021-12-13 22:33] #896 closed

[2021-12-13 22:36] lintool commented on #582
Moving forward, we'll document in READMEs like this:
https://github.com/castorini/pyserini/blob/master/pyserini/resources/index-metadata/faiss-hnsw.cast2019.tct_colbert-v2-readme.txt

And these READMEs will get linked to from auto-generated documentation:
https://github.com/castorini/pyserini/blob/master/docs/prebuilt-indexes.md

[2021-12-13 22:37] #582 closed

[2021-12-15 07:05] Fischer-love-fish opened #906 "is there any dpr embedddings off-the-shelf for us to download?"
It seems that pyserini only provides retrieval results for dpr. however, could I obtain the dpr embeddings for the 21 million passsages here? thx!

[2021-12-17 14:05] suamin opened #908 "JVM exception occurred: no segments* file found in MMapDirectory"
Hi, thank you for this simplified and an excellent tool!

I'm attempting to explore the `SimpleSearcher` class with DPR but running into an unexpected Java exception:

[code]

Here are the packages installed:

[code]
and `javac 11.0.13`.

Thanks in advance!

[2021-12-17 14:11] suamin commented on #908
The MD5 hash values for the downloaded index:
[code]
In the download directory name, the value matches with one mentioned [here](https://github.com/castorini/pyserini/blob/master/pyserini/prebuilt_index_info.py#L701).

[2021-12-17 17:48] lintool commented on #786
Anserini regressions added for rest of Mr.TyDi languages: https://github.com/castorini/anserini/pull/1702

[2021-12-21 22:20] hl2659 opened #912 "Dense index with T5 model failed"
I tried to use  castorini/monot5-base-med-msmarco for dense indexing.
python -m pyserini.encode input --corpus integrations/resources/sample_collection_jsonl --fields title text output --embeddings indexes/dindex-sample-monot5-base-msmarco --to-faiss encoder --encoder castorini/monot5-base-msmarco --fields title text --batch 8

It fails with the following trackback:
Traceback (most recent call las

[2021-12-26 09:55] zhanghan9797 opened #913 "reproduce ance results"
How to get train query embedding?

[2021-12-27 05:07] zhanghan9797 commented on #913
How to get msmarco train query embedding?

[2021-12-27 09:13] Fatima-Haouari opened #914 "Indexing new documents without indexing the full collection"
Hi,
I used pyserini to index a collection of documents. If my collection of documents was expanded, how can I index just the new documents without indexing the full collection again?

[2021-12-27 21:20] lintool opened #916 "Python package issues: proposed resolution - upgrade to Python 3.8"
Currently, we've standardized on Python 3.6, with the rationale to be as generous as possible in supporting older versions of Python. However, this is causing issues in the dependency chain.

Here are two related issues: #907 and #911

I just upgraded my mac to macOS 12.1 Monterey and had to rebuild my environment. I came across this issue when running unit tests:

[code]

This is the same issue r

[2021-12-27 22:04] tyao-t commented on #916
I think that works. Why not?

[2021-12-28 19:53] lintool opened #917 "Clean up sys.path.append"
We have a bunch of these idioms scattered throughout the code base:

[code]

Since our installation instructions suggest we do:

[code]

These can be cleaned up?

[2022-01-04 02:18] MXueguang commented on #916
I usually use Python 3.8 as my python environment for Pyserini etc and it work well.
I think it make sense to set 3.8 as supported python version.

p.s. maybe not that important, but can anyone confirm if python3.7 has same error as 3.6 or not?
@tyao-t  @lingwei-gu

[2022-01-05 12:12] Fatima-Haouari opened #920 "Rank fusion using Pyserini"
Kindly direct me to examples on how to use Pyserini to create fused runs using reciprocal_rank_fusion and taking the average/sum of scores.

[2022-01-06 00:46] tyao-t commented on #916
I can give it a try but I think @lintool was determined to use 3.8 as the version. I am busy with a few things recently as well. @lingwei-gu if you do have time, you can consider giving it a try.

[2022-01-07 01:07] #916 closed

[2022-01-07 01:12] lintool commented on #842
Closed by #893

[2022-01-07 01:12] #842 closed

[2022-01-07 11:29] kormoczi opened #926 "Basic questions regarding dense search"
Hi,
I could use sparse search based on the examples (both with prebuild indexes and with my own, custom made indexes as well).
But with dense search I have some problems.
I started to use the wikipedia-dpr-single-nq-bf (Faiss) index. But which encoder should I use? Is there any recommendation for this?
I have tried facebook/dpr-question_encoder-multiset-base and facebook/dpr-question_encoder-singl

[2022-01-07 15:55] kormoczi commented on #926
It looks like, that the wikipedia-dpr index has different docid convention, so I have to use the enwiki-paragraphs index to fetch the documents, after a search on the wikipedia-dpr-single-nq-bf index...

[2022-01-11 16:19] Fatima-Haouari commented on #565
Hi,
Could you please help with the following:
I managed to index my Arabic documents by specifying -language ar as you mentioned above. However when I tried to specify the language to search as shown below I am getting the following error
[code]

Here is the code
[code]
Please advise.

[2022-01-11 16:29] Fatima-Haouari opened #931 "Stemming and searching Arabic documents"
Hi,
Kindly advise about the following:
When indexing documents using Pyserini. Is stemming done by default? or we should specify this? I managed to index my Arabic collection by specifying the **language ar** as shown [here ](https://github.com/castorini/pyserini/blob/44d68dfb72c4f1e50db3dc0305279c7e06d31e46/docs/usage-multilingual.md). However, when I tried to specify the language when searching

[2022-01-11 17:44] lintool commented on #565
Duplicate of #932

[2022-01-11 17:49] lintool commented on #566
Closing, as the answer to "faiss-gpu not supported" is "correct". I've clarified in #933.

If down the road we find a pressing need to support `faiss-gpu`, we can open another issue.

[2022-01-11 17:49] #566 closed

[2022-01-11 18:55] lintool commented on #786
Mr.TyDi pre-built indexes merged in #928

I don't think integration tests are necessary, since it's _not_ the case we have integration tests for all corpora. What we have should be sufficient.

[2022-01-11 18:55] #786 closed

[2022-01-11 23:01] lintool opened #934 "spacy / lightgbm not in requirements"
should be!

[2022-01-11 23:05] lintool commented on #934
hey @stephaniewhoo @yuki617 lightgbm not in requirements either... can you please send PR to fix?

[2022-01-11 23:06] lintool commented on #679
This issue seems to have been closed.

[2022-01-11 23:06] #679 closed

[2022-01-12 00:57] stephaniewhoo commented on #934
proposed spacy 3.0.6 and lightgbm 3.2.1 with PR #935

[2022-01-12 10:36] ronakice commented on #912
`castorini/monot5-base-msmarco` and `castorini/monot5-base-med-msmarco` are cross-encoders so they are not trained for dense encoding. I suggest you take a look at [PyGaggle](https://github.com/castorini/pygaggle) for instructions on how to use them or use another one of the dense encoders we provide in Pyserini.

[2022-01-12 12:01] #912 closed

[2022-01-12 19:03] #934 closed

[2022-01-12 23:45] lintool opened #938 "Test failure: TestLtrMsmarcoDocument on macOS 12.1"
Test failure on my iMac Pro, macOS Monterrey 12.1... any ideas?

[code]

[2022-01-13 01:21] stephaniewhoo commented on #938
That's weird. Just rerun this test on orca and it passed

[code]

[2022-01-13 02:01] lintool commented on #938
Seems to be related to https://gcc.gnu.org/bugzilla/show_bug.cgi?id=92061

[2022-01-13 12:33] lintool commented on #938
This seems to be a known issue and doesn't appear to have been resolved yet: https://github.com/microsoft/LightGBM/issues/4229

[2022-01-13 12:47] #783 closed

[2022-01-13 13:47] Fatima-Haouari opened #940 "R-Precision using pyserini.eval.trec_eval"
Hi,
I managed to evaluate my runs using Pyserini. However, I am not able to find out how to get the R-Precision.
Kindly direct me if there is any documentation for the evaluation measures supported by Pyserini.

[2022-01-13 15:01] yuki617 commented on #938
I also get it worked on orca. Will try on my macos machine too.

[2022-01-13 15:20] lintool commented on #938
Yes, confirmed that the test case passes on `orca`.

[2022-01-13 20:28] stephaniewhoo commented on #938
[code]

Finally the test is complete on my laptop (macOS) and it passes as well.  My system is also MacOS Monterey 12.1 (21C52)

[2022-01-14 03:32] yuki617 commented on #938
Same as Stephanie, the test also passed on my macos machine, my system is macOS Big Sur version 11.5.2

[2022-01-14 19:01] lintool opened #944 "Test failure: integrations.clprf.test_clprf.TestSearchIntegration.test_core18"
[code]

This might be an issue with the pandas version, as I'm getting this failure on my mac:

[code]

Whereas the test passes fine on `orca`:

[code]

@yuki617 would you mind taking a look?

[2022-01-15 03:29] lintool commented on #938
Trying out the example here: https://github.com/microsoft/LightGBM/issues/4229

[code]

Indeed, I get a seg fault - this is on macOS 12.1.

Additional details:

[code]

[2022-01-15 03:38] yuki617 commented on #938
I have tested the above script on my macOS with macOS version 11.5.2, libomp version 13.0.0 and lightgbm 3.2.2 . No segmentation fault is found, everything works just fine. The reason for the test failure was narrowed down to the version of macOS.

[2022-01-15 10:49] yuki617 commented on #944
It caused by new version of pandas. Will send a new PR fixing it.

[2022-01-15 13:51] lintool commented on #938
Waiting for upstream fixes. No further action for now.

[2022-01-15 14:02] lintool opened #947 "Test failure: integrations.sparse.test_simple_fusion_search_integration.TestSearchIntegration"
[code]

Digging in:

[code]

Seems like this is due to a brittle test... I'll think a bit about how to handle.

[2022-01-15 15:12] lintool opened #949 "Refactor IBM Model 1 reranker (+ LTR)"
The IBM Model 1 reranker works (and is tested, yay!) - but the organization could be improved.

For example, there's no counterpart of a `Searcher` just "does the ranking":

[code]

So, we have have two parts - a well-abstracted searcher, and a "main" program for end-to-end runs.

`TranslationProbabilitySearcher` is probably the most descriptive name? IBM Model 1 is how to get the translation prob

[2022-01-16 19:53] lintool opened #951 "Test failure: TestLtrMsmarcoDocument and TestLtrMsmarcoPassage"
[code]

Seems like the underlying dependencies have changed a bit... this seems like an issue of brittle tests; we probably don't need to hit the score within a delta of 1e-06.

@yuki617 @stephaniewhoo Okay if we dial down the delta a bit? I'll take care of sending PR.

[2022-01-16 19:59] stephaniewhoo commented on #951
Yes, lgtm! Thx

[2022-01-17 01:40] stephaniewhoo commented on #949
a little question for original BoW search
In this way of refactoring, should we call it `pyserini.search.lucene` or `pyserini.search.lucene.bm25`

[2022-01-17 01:45] yuki617 commented on #951
Yes, the difference is fairly small. Let's dial down the delta. Thanks!

[2022-01-17 02:24] stephaniewhoo commented on #949
We used to put ltr as a module under search.
But running ltr requires local Pyserini instead of pypi, so we put 'main' program for end-to-end runs back as a script, i.e. calling `python scripts/ltr.py ...`.
Should we now change it to `python -m pyserini.search.lucene.ltr ... `
Though I think ibm reranker is fine? @yuki617

[2022-01-17 02:25] lintool commented on #949
What is there about the impl that requires a local installation? If it's the model, we can put under PYSERINI_CACHE, just like the indexes?

[2022-01-17 13:12] lintool commented on #944
Closed by #946

[2022-01-17 15:06] lintool commented on #947
These are the specific scores:

[code]

For the record, this is all on `damiano`.

[2022-01-17 17:05] #947 closed

[2022-01-17 17:11] lintool opened #954 "Silence numpy warning"
[code]

@stephaniewhoo @yuki617 can you fix this please?

[2022-01-17 18:14] #951 closed

[2022-01-18 04:09] lintool commented on #944
hey @yuki617 - I'm still getting this test failure... can you please look into it? Thanks!

[code]

[2022-01-18 08:49] yuki617 commented on #944
Sorry, I went through all experiments for runs but missed the test for cross_validate. Here is the PR to fix it: https://github.com/castorini/pyserini/pull/958

[2022-01-18 10:06] cristianmtr opened #959 "notebook not working"
In this notebook [here](https://colab.research.google.com/github/castorini/anserini-notebooks/blob/master/Pyserini%2BSciBERT_on_COVID_19_Demo.ipynb#scrollTo=UBlFYHejSr2H)

[code]

[2022-01-18 15:37] lintool commented on #959
Hi @cristianmtr - thanks for raising the issue, but that's a notebook we've explicitly decided not to maintain. Everything there has been superseded by later work, described here: https://aclanthology.org/2020.sdp-1.5/

[2022-01-18 15:37] #959 closed

[2022-01-18 18:13] lintool commented on #954
Closed by #957

[2022-01-18 18:13] #954 closed

[2022-01-18 19:30] lintool commented on #944
Closed by #958

[2022-01-18 19:30] #944 closed

[2022-01-19 12:21] ZanezZephyrs opened #961 "Format missmatch when trying to load trec-car index."
Hi, I was trying to build the trec-car index and access it with pyserini, here is what i did.

First i cloned and installed anserini and anserini-tools

[code]

then, i indexed my collection ( 1 .cbor file from http://trec-car.cs.unh.edu/datareleases/v2.0/paragraphCorpus.v2.0.tar.xz)  with the following command

[code]

With this process, i was able to generate the index correctly, but when i trie

[2022-01-27 17:40] namespace-Pt opened #970 "Does document and query share the same underlying lucene analyzer?"
I know IndexCollection uses default Lucene analyzer to tokenize, stem and filter text. I want to know how the query is processed before searching. Do you use the same analyzer to process queries?

[2022-01-27 21:49] lintool opened #972 "Add (new) pre-built indexes for MS MARCO (V1)"
Following the resolution of https://github.com/castorini/anserini/issues/1721 and https://github.com/castorini/anserini/issues/1730 - we need to rebuild new pre-built indexes.

[2022-01-27 21:55] lintool commented on #972
@ronakice @MXueguang how would you like me to name them?

Currently, they are:
+ `msmarco-passage`
+ `msmarco-passage-expanded`
+ `msmarco-doc`
+ `msmarco-doc-per-passage`
+ `msmarco-doc-expanded-per-doc`
+ `msmarco-doc-expanded-per-passage`

Should we keep the existing ids and just replace the underlying tarballs? That would be a silent change.

Alternatively, we could use brand new ids, like `ms

[2022-01-27 21:59] ronakice commented on #972
I think perhaps the `msmarco-v1...` path is better, as it also helps disambiguate for the future. As to whether these other ones are required, I don't actually have a strong opinion but I'm leaning toward removing them as they might confuse people.

[2022-01-29 18:13] paulowoicho opened #973 "Dense Index of MARCO V2 and KILT"
I have been trying to make a dense from both the MARCO V2 and KILT collections (about 17M documents) on an AWS EC2 instance running Ubuntu with 8 vCPUs and 32GB memory. Each time I run:

[code]

The process gets killed after about 3 minutes, probably because it uses too much memory.

When I try sharding, using:

[code]
I still experience the same outcome.

I was wondering if there was anything I w

[2022-01-29 19:06] MXueguang commented on #973
Hi @paulowoicho,
The reason for OOM here is probably due to loading the entire corpus into the memory at the beginning (before sharding).
I would suggest splitting the raw collection in advance.
i.e. use Linux cli tool `split` to split the converted_collection into multiple small files.
then run the encoding with:
[code]

[2022-01-29 21:25] lintool commented on #949
Ref #967

@stephaniewhoo anything more you want to do, or are we done here? if done, please go ahead and close issue.

[2022-01-29 21:37] stephaniewhoo commented on #949
I am good for now.

[2022-01-29 21:37] #949 closed

[2022-01-30 12:35] lintool opened #975 "Test failure on pandas 1.4.0"
Unit tests fail on pandas 1.4.0:

[code]

Works fine on 1.3.5.

@yuki617 or @stephaniewhoo can you take a look? I think you're most familiar with this code?

[2022-01-30 15:59] yuki617 commented on #975
No problem. I found out that the issue is caused by the new pandas version. Should I send a PR fixing it?
1. In pandas 1.4.0, frame.append method should be updated to pandas.concat method instead
2. When assigning float value like 1.0, 2.0 to the series, the score automatically changed into integer

[2022-01-30 16:01] lintool commented on #975
@yuki617 can you implement a fix that is forward compatible? that works for both 1.3.5 and 1.4.0?

[2022-01-30 16:06] yuki617 commented on #975
Yes, just tested it, the fix works for both versions

[2022-01-30 16:06] lintool commented on #975
Please send PR, and ref this issue in your PR please.

[2022-02-01 08:06] HAKSOAT commented on #917
Hi @lintool can I work on this? I think it's a good first task.

[2022-02-01 09:57] lintool commented on #917
Sure! Any contributions welcome!

[2022-02-01 09:58] #972 closed

[2022-02-02 23:43] kwang2049 opened #981 "Question about quantizing term weights"
Dear Pyserini/Anserini contributors,

I have some questions about how Py/Anserini deals with term weights, especially considering quantization.

I found without quantizing the term weights of the collection (which is the input for indexing), performance will drop significantly (I tried uniCOIL and SPLADEv2). So:

1. Why does this happen (performance drops if one does not do quantization)?
2. Does

[2022-02-03 00:00] MXueguang commented on #981
Hi @kwang2049
take uniCOIL as example,
the term weights generated by the model are usually in range 0-5 as float.
Py/Anserini only accepts integer weights for corpus, thus we quantitize the float in range 0-5 to integers in range 0-256.
If indexing the term weights without quantization, the floating points will be rounded into integers directly.
Integer 0-5 loss many infomation while describing a

[2022-02-04 12:33] lintool opened #985 "Broken test: test_unicoil_encoder"
hey @MXueguang seems to be because of the model rename - can you please send PR for a fix?

[code]

[2022-02-04 12:34] #975 closed

[2022-02-04 15:01] #985 closed

[2022-02-06 22:21] #917 closed

[2022-02-11 12:24] lintool opened #994 "Errors with SPLADEv2 MS MARCO instructions"
Here: https://github.com/castorini/pyserini/blob/master/docs/experiments-spladev2.md

If I download the Naver model and try to run it, I get the following error:

[code]

@MXueguang can you take a look?

[2022-02-11 15:06] lintool opened #995 "Change imports in pyserini.search.lucene"
Hey @MXueguang this line:
https://github.com/castorini/pyserini/blob/master/pyserini/search/lucene/__main__.py#L27

[code]

Imports should be from `.` right?

[2022-02-11 23:57] jonsaadfalcon opened #998 "Training your own Dense Retriever from scratch"
Hello, is it possible to train your own dense retriever from scratch? If so, what would be the expected commands?

[2022-02-11 23:58] #998 closed, assigned to nobody

[2022-02-13 04:12] jonsaadfalcon opened #1001 "Issue Loading my Dense Retriever Index"
Hello, after I trained my own index, I tried to load a SimpleDenseRetriever with the following line:

`encoder = TctColBertQueryEncoder('IndexingExperiments/tct_colbert-msmarco')
searcher = SimpleDenseSearcher('IndexingExperiments/indexes/TREC_PM_Document_Collection', query_encoder=encoder)`

However, it gave me the following error after running this line:

`RuntimeError: Error in faiss::(anonymou

[2022-02-15 18:17] lintool commented on #994
Closed by #996

[2022-02-15 18:17] #994 closed

[2022-02-15 18:19] lintool opened #1005 "Fix warnings in test cases due to SimpleSearcher deprecation"
We're getting a lot of warnings along the lines of:

[code]

[2022-02-15 19:11] MXueguang commented on #1005
sure, I'll make the update today

[2022-02-15 19:15] MXueguang commented on #1001
Hi @jonsaadfalcon ,

I am assuming you trained your dense retriever model?

However, the `pyserini.index` is creating Lucene sparse index.
SimpleDenseSearcher requires dense index based on FAISS.

Please check this document to encode the corpus and create dense index:
https://github.com/castorini/pyserini/blob/master/docs/usage-encode.md#encode-documents-with-dense-encoder

[2022-02-15 21:26] lintool opened #1006 "Reorg pyserini.dsearch -> pyserini.search.faiss"
Since `pyserini.search` has been moved to `pyserini.search.lucene`, `pyserini.dsearch` should become `pyserini.search.faiss` as well.

[2022-02-16 17:24] lintool commented on #1005
Closed by #1007

[2022-02-16 17:24] #1005 closed

[2022-02-16 20:05] lintool commented on #1006
`SimpleDenseSearcher` should become `FaissSearcher` as well.

[2022-02-16 20:11] lintool commented on #1006
@crystina-z is going to take a stab at this.

[2022-02-16 21:20] lintool opened #1012 "LuceneSearcher shouldn't return List[JLuceneSearcherResult] - but rather some more generic Python class"
The `search` method in `LuceneSearcher` currently returns `List[JLuceneSearcherResult]`, which is a list of Java objects. This is fine when Lucene was the only "backend". But with the addition of PyJASS, it would be better for the search method to return some generic native Python class.

[2022-02-16 21:22] MXueguang commented on #1012
Maybe just a SearcherResult class for sparse / dense and hybrid

[2022-02-16 21:24] lintool commented on #1012
Agreed.

[2022-02-18 12:13] lintool opened #1017 "Hybrid dense-sparse broken from recent lucene.search renaming?"
hey @MXueguang - can you take a look please?

[code]

[2022-02-18 17:55] #1017 closed

[2022-02-18 17:57] lintool commented on #995
Closed by #1011

[2022-02-18 17:57] #995 closed

[2022-02-21 08:37] jordane95 opened #1025 "ModuleNotFoundError: No module named 'pyserini.search.lucene'"
Hi, I installed your `pyserini` and was trying to run some examples. But the first line
[code]
raises the following error
[code]
Could you help me fix it?

[2022-02-21 13:30] lintool commented on #1025
Hi @jordane95 - we recently refactored, but haven't pushed out a new pypi artifact yet. Your options are:
(1) run a dev installation: https://github.com/castorini/pyserini/#installation
(2) roll back the docs

[2022-02-21 13:30] #1025 closed

[2022-02-21 21:05] lintool opened #1030 "Reorg pyserini.hsearch -> pyserini.search.hybrid"
Follow up to #1006 -

+ `pyserini.search` -> `pyserini.search.lucene`
+ `pyserini.dsearch` -> `pyserini.search.faiss`
+ `pyserini.hsearch` -> `pyserini.search.hybrid`

[2022-02-22 21:29] lintool opened #1032 "Reorg pyserini.vsearch -> pyserini.search.nmslib"
Ref #1006 #1030

[2022-02-23 03:31] xhlulu opened #1034 "Indexing a document for dense retrieval inside python script"
I'm interested in using the dense retrieval side of the library, e.g. FAISS and DPR (via huggingface). I don't have Java installed in my container since i'm primarily using pytorch.

I was looking through the readme and only found this: https://github.com/castorini/pyserini#how-do-i-index-and-search-my-own-documents

It seems the instructions only show how to index via lucene (sparse/java) and can

[2022-02-23 04:47] crystina-z commented on #1006
@lintool I guess this can be closed with #1028 merged?

[2022-02-23 12:26] lintool commented on #1034
For sparse indexes, see #639 - unfortunately, there are no plans to implement in the near future.

For dense indexes, see this guide for how to encode a collection from the command line:
https://github.com/castorini/pyserini/blob/master/docs/usage-encode.md

In general, if your text collection is small enough to fit inline in Python code, then it probably doesn't make sense to build an index... so

[2022-02-23 17:57] xhlulu commented on #1034
Thanks for sharing this! Will try that out :)

Make sense, thank you for clarifying! My data is large enough to fit in memory (i usually load the data `pandas` or `json`, writing inline was for demo purposes), but at GB scale I think the dense representations will indeed not fit in memory :)

[2022-02-23 17:59] #1034 closed

[2022-02-23 19:07] jonsaadfalcon opened #1035 "Issues Delegating More GPUs for Dense Encoding"
Hello, when trying to delegate more devices for encoding using pyserini.encode, I receive the following error after running this script:

`python -m pyserini.encode input   --corpus my_corpus.jsonl \
                                  --fields text url title \
                          output  --embeddings my_embeddings \
                                  --to-faiss \
                          enco

[2022-02-24 00:26] MXueguang commented on #1035
Hi @jonsaadfalcon,
our `pyserini.encode` only support single gpu encoding.
e.g.. --device cuda:0

if you want to encode in parallel, have to run multiple individual process.

[2022-02-24 01:16] lintool opened #1039 "Update DKRR documentation"
Add instructions for running on dev set and comparisons to dev set numbers in the paper.

[2022-02-24 01:17] #1035 closed

[2022-02-24 01:24] #1006 closed

[2022-02-24 02:38] lintool opened #1042 "Clean up LTR and IRST test cases"
@yuki617 @stephaniewhoo can you do a bit of clean up on the LTR and IRST test cases? E.g., make PEP8 compliant?

https://github.com/castorini/pyserini/blob/master/integrations/sparse/test_ltr_msmarco_document.py
https://github.com/castorini/pyserini/blob/master/integrations/sparse/test_ltr_msmarco_passage.py
https://github.com/castorini/pyserini/blob/master/integrations/sparse/test_transprobabilit

[2022-02-24 03:25] lintool commented on #454
@crystina-z can we close this issue now? seems to have been done?

[2022-02-24 03:30] lintool commented on #659
Relevant issues:
+ `pyserini.search` -> `pyserini.search.lucene` #991
+ `pyserini.dsearch` -> `pyserini.search.faiss` #1006
+ `pyserini.hsearch` -> `pyserini.search.hybrid` #1030
+ `pyserini.vsearch` -> `pyserini.search.nmslib` #1032

We're partway through this major refactoring...

[2022-02-24 04:19] crystina-z commented on #454
yea agreed

[2022-02-24 04:19] #454 closed

[2022-02-24 11:53] lintool commented on #1032
Refactoring done in #1044

Missing an integration test, so @MXueguang let's leave open.

[2022-02-25 12:47] lintool opened #1049 "Add prebuilt indexes for BEIR"
BM25 and TAS-B to start.

[2022-02-25 13:34] lintool opened #1050 "Write util to dump out BM25 vectors for a corpus"
Would be a useful tool to have...

[2022-02-28 15:03] lintool opened #1051 "Broken integration tests for uniCOIL"
@MXueguang can you please take a look?

[code]

[2022-03-01 20:29] lintool commented on #1051
Fixed by #1052

[2022-03-01 20:30] lintool commented on #1051
@MXueguang additional broken tests:

[code]

[2022-03-01 21:01] #1051 closed

[2022-03-02 15:22] lintool opened #1058 "Naver repro and model sync"
@justram will do a repro of all our Naver models just to double check that everything works.

And then sync w/ https://europe.naverlabs.com/research/machine-learning-and-optimization/splade-models/

See if there's anything missing that should be brought into pyserini.

[2022-03-02 16:05] justram commented on #1058
Here is a brief summary:

1. Existing functionality
- [ ] Anserini reproduction with pre-encoded MS MARCO collection
- [ ] Pyserini reproduction with pre-encoded MS MARCO collection

2. Missing functionality
- [ ] SpladeDocument encoder for fully integrated indexing pipeline [ref](https://github.com/naver/splade/tree/main/anserini_evaluation)
- [ ] New pretrained checkpoints (the variants trained

[2022-03-02 16:08] lintool commented on #1058
Agreed.

New docs, I think. We currently have a one-page-per-model structure.

[2022-03-05 02:50] #1030 closed

[2022-03-05 02:52] lintool commented on #659
This was completed and pushed out in v0.16.0 release. Some additional loose ends to tie up here and there, but the bulk of the work is done.

[2022-03-05 02:52] #659 closed

[2022-03-05 13:28] lintool opened #1062 "pyserini.index -> pyserini.index.lucene"
Should `pyserini.index.IndexReader` become:

(1) `pyserini.index.lucene.IndexReader` or
(2) `pyserini.index.LuceneIndexReader`

My vote is for (1). Thoughts @MXueguang ?

[2022-03-05 13:32] lintool opened #1063 "Clean up documentation about encoding dense vectors"
@MXueguang @crystina-z

I just noticed we have two doc pages that have a lot of overlap...

https://github.com/castorini/pyserini/blob/master/docs/usage-encode.md
https://github.com/castorini/pyserini/blob/master/docs/usage-dense-indexes.md

Why do we have both? Should we collapse?

@crystina-z iirc, you were the person to last use this feature with mr.tydi?
@MXueguang do we want to make this cons

[2022-03-05 17:18] crystina-z commented on #1063
true I was using `python -m pyserini.encode`.

So `encode` and `index` are the same concept in pyserini? and we now just keep one of the page (also rename the title into index/encode passage)?

[2022-03-05 17:25] lintool commented on #1063
The way @MXueguang and I are thinking about it - and of course, open to suggestions - is that "encode" is generating the doc vectors, whereas "index" would be something like building HNSW indexes.

Of course, if we "encode" into Faiss flat index, that "encoding" could also serve as an index...

@crystina-z thoughts?

[2022-03-06 01:03] MXueguang commented on #1063
yes for the two docs here, we want to merge them as doc for "encoding". we don't have an index doc for dense rn.

[2022-03-06 01:03] MXueguang commented on #1062
yeah (1) looks good

[2022-03-06 01:10] crystina-z commented on #1063
@lintool if we feel like articulate the difference between "encode" and "index", maybe we can merge the current [use-dense-indexes.md](https://github.com/castorini/pyserini/blob/master/docs/usage-dense-indexes.md) into [usage-encode](https://github.com/castorini/pyserini/blob/master/docs/usage-encode.md
), and put a specific index example (e.g. prep hnsw from encoded vectors) into the use-dense-in

[2022-03-06 01:22] lintool commented on #1062
@MXueguang can you please work on it?

[2022-03-06 01:23] lintool commented on #1063
yup, agreed. @crystina-z would you mind taking an initial stab at it?

[2022-03-06 01:56] MXueguang commented on #1062
sure

[2022-03-06 12:10] lintool commented on #917
hi @HAKSOAT - if you're interested in helping out, there are other small tasks that we could use help on...

[2022-03-06 12:11] lintool opened #1067 "DPR accuracy has too many figures of precision"
Right now we have something like:

[code]

Which gives:

[code]

There's no need to have that many figures of precision. Four digits is sufficient.

[2022-03-06 12:35] HAKSOAT commented on #917
Hi @lintool Yes, I am very interested. I'd appreciate it if you fill me in.

[2022-03-06 12:36] lintool commented on #917
Please ping me on email?

[2022-03-06 12:39] HAKSOAT commented on #917
Your uwaterloo email right?

[2022-03-06 12:43] lintool commented on #917
Yes please.

[2022-03-06 12:47] HAKSOAT commented on #917
Done.

[2022-03-07 04:33] lintool commented on #1062
Refactored in #1068

I still keep to clean up documentation. Will close after that's done.

[2022-03-07 04:34] lintool commented on #1039
Closed by #1066, further updated in #1069

[2022-03-07 04:34] #1039 closed

[2022-03-07 04:37] lintool commented on #592
There's actually already documentation for this, here: https://github.com/castorini/pyserini/blob/master/docs/usage-multilingual.md#how-do-i-index-and-search-my-own-non-english-documents

Probably needs to be better organized...

[2022-03-07 12:32] lintool commented on #1063
hey @crystina-z I'll reorganize the docs better first via #1070 and then you can do clean-up?

[2022-03-07 15:18] justram commented on #1058
Reproduced results:
![splade_repro_0305](https://user-images.githubusercontent.com/21036667/157060810-d11fe3a6-6341-44b5-b13a-c629e7c175a0.png)
There are tiny differences in the MS MARCO dev subset evaluation.

Probably due to the limitation of integer document encoding of Lucene.
The numbers reported on Naver's website were from the exact searches using float encoding.

[2022-03-07 15:30] NThakur20 commented on #1058
I am working on their provided training code and training a splade (distilspade_max) model. Will evaluate the trained model on MSMARCO-dev and provide the reproduction results in the sparse neural benchmarking project.

Kind Regards,
Nandan

[2022-03-07 15:43] NThakur20 commented on #1058
For evaluation of [distilSplade_max](https://github.com/naver/splade/tree/main/weights/distilsplade_max) on BEIR datasets, I evaluated using the example codes mentioned in the toolkit: https://github.com/NThakur20/sparse-retrieval/tree/main/examples/inference/distilsplade_max/beir_scifact.

BEIR passages have not been preprocessed to fix the encoding issue and achieve a score of 0.728 NDCG@10 on t

[2022-03-07 17:00] crystina-z commented on #1063
oh sure, I'll clean the doc based on #1070

[2022-03-09 02:00] HAKSOAT opened #1075 "Error with SimpleGeoSearcher"
I was trying to reproduce the [MSMARCO Passage Retrieval experiment](https://github.com/castorini/pyserini/blob/master/docs/experiments-msmarco-passage.md) with the conda setup on Ubuntu using the Windows Subsystem for Linux (WSL).

On running the command:

[code]

I got:

[code]

Then I tried to re-confirm that everything else was working fine by rebuilding Anserini, copying the fatjar and runnin

[2022-03-09 03:11] HAKSOAT commented on #1075
Thank you.

It fixed that issue but another comes up on running the unittest:

[code]

NB: This error does not block me from continuing the experiment's reproduction.

[2022-03-09 12:10] lintool commented on #1075
Yup, that symbol changed over on the anserini side, and we need to update here also. @MXueguang from our group is on it.

[2022-03-09 23:10] HAKSOAT commented on #1075
Great. Thank you. Closing this issue now.

[2022-03-09 23:10] #1075 closed

[2022-03-17 08:33] namespace-Pt opened #1080 "How to normalized unicoil and TcTColBERT scores?"
In hybrid model, the paper "A Few Brief Notes on DeepImpact, COIL, and a Conceptual Framework for Information Retrieval Techniques" says that you normalize the scores to (0,1) before combining. What function are you using?

[2022-03-17 14:44] MXueguang commented on #1080
Hi @namespace-Pt

https://github.com/castorini/pyserini/blob/4c039d0c28f63cb3fa10ca6bd78a58300bfbc7da/pyserini/search/hybrid/_searcher.py#L74-L77

in pyserini implementation here we scale the score to (-0.5, 0.5) but should be equivalent to (0, 1)

[2022-03-18 05:10] namespace-Pt commented on #1080
Thank you.

[2022-03-18 05:10] #1080 closed

[2022-03-19 13:43] xixihawokao opened #1081 "the 'prebuilt_index' is too big, out of memory"
This project is really awesome!!!  I want to use DKRR to retrieval Wikipedia articles ，and use the result in other experiment ，I download the faiss-flat.wikipedia.dkrr-dpr-tqa-retriever.20220217.25ed1f.cc91b2.tar.gz and get the file of index it‘s almost 60g, I try to use command 'split' to cut the file in order to make it smaller , but I still can't get result because the files Become incomplete：

[2022-03-19 18:14] stephaniewhoo commented on #1042
done by #1046

[2022-03-19 18:14] #1042 closed

[2022-03-20 14:33] lintool opened #1083 "LTR passage bug: building index from scratch"
I'm following instructions here: https://github.com/castorini/pyserini/blob/master/docs/experiments-ltr-msmarco-passage-reranking.md

Building index from scratch, and trying to retrieve using it:

[code]

@stephaniewhoo @yuki617 can you please take a look?

[2022-03-23 02:11] #1083 closed

[2022-03-23 02:14] lintool commented on #592
Closed by #1070

[2022-03-23 02:14] #592 closed

[2022-03-23 02:26] MXueguang commented on #1081
Hi @xixihawokao,

The prebuild index is a not a line-by-line file, so we can't simply use `split` to cut the file.
We usually need a machine has enough RAM e.g. 128G to deal with the large index size (60G).
If you don't have a machine with enough RAM, we can help you split the index on our machine and send you sub-indexes.
Could you let me know the RAM of your machine so that I can decide how many

[2022-03-23 12:13] lintool opened #1090 "pyserini.index structure"
In `pyserini.index`, `lucene` is a sub-directory, but `faiss` and `nmslib` aren't, even though each form a namespace.

Should we convert `faiss` and `nmslib` into subdirectories also?

@MXueguang @crystina-z thoughts?

[2022-03-24 01:25] MXueguang commented on #1090
seems faiss/nmslib are not necessary to become a directory since it is actually a single file.
probably we can make it into subdirectories if we have more files for faiss/nmslib in the future.
I feel we can keep it simple for now

[2022-03-24 01:39] lintool commented on #1090
Okay, in that case, I'll close!

[2022-03-24 01:39] #1090 closed

[2022-03-26 03:17] HAKSOAT commented on #695
Hello, I spent some time looking into this and can see where the traceback comes from.

https://github.com/castorini/pyserini/blob/a052748ea669125a129138fd2f53402a423b14bb/pyserini/search/lucene/_searcher.py#L131

Which calls this:

https://github.com/castorini/anserini/blob/2e8e9fdfedc1b81522d9e22a805e08e6a7105762/src/main/java/io/anserini/search/SimpleSearcher.java#L583

My intention was to add

[2022-03-26 03:18] HAKSOAT commented on #695
Better still, am I approaching this the wrong way?

[2022-03-26 14:32] #1067 closed

[2022-03-26 14:50] xixihawokao commented on #1081
my machine's RAM is 32g,I would appreciate it if you could split the index

for more people who want to use this easily ,I recommend that you can split index into 8g，generally personal computer's RAM, and provide a script that can use it with those split indexes.

[2022-03-26 19:03] lintool commented on #695
Yup, I was thinking something along these lines. At the point of `setRM3`, determine if RM3 can be successfully executed. If no, then print a warning and the method should be a no-op.

See if there's a way you can introspect the index (i.e., directly find out of doc vectors are stored)... instead of trying a test query and catching an exception.

[2022-03-28 23:24] #695 closed

[2022-03-28 23:34] lintool opened #1099 "Poorly designed test case: tests/test_search.py"
setUp does too much, noted here: https://github.com/castorini/pyserini/pull/1098#issuecomment-1081252193

[2022-03-29 00:43] MXueguang commented on #1081
Hi @xixihawokao
Here is the subindexes `wget https://rgw.cs.uwaterloo.ca/JIMMYLIN-bucket0/tmp/pyserinifaiss-flat.wikipedia.dkrr-dpr-tqa-retriever.20220217.25ed1f.cc91b2.sub_indexes.tar`

Thanks for your suggestion, but it is hard for us to maintain indexes splits at current stage. The reasons are:
1. many IR tasks (at least in our team) are running on server rather than personal computer, we expec

[2022-03-29 03:57] MXueguang commented on #1081
we current store the passage encoding as faiss flat ip index. It requires large memory to read as it has to load entire things into memory.
A potential solution for the limited memory situation is to dump the passage encodings embeddings into pickle file incrementally and make it able to read line by line. (https://stackoverflow.com/questions/37954324/how-to-load-one-line-at-a-time-from-a-pickle-f

[2022-03-30 22:38] #1099 closed

[2022-04-01 21:50] stephaniewhoo opened #1104 "Change irst to do tokenization on-the-fly"
Change irst to do tokenization for docs on the fly so that it can be generalized easily for different datasets

[2022-04-02 11:51] lintool commented on #938
I just updated to libomp 14.0.0 via `brew`. Issue still persists.

[2022-04-02 16:54] lintool commented on #1032
Test added in #1091

[2022-04-02 16:54] #1032 closed

[2022-04-02 16:56] lintool commented on #834
These have been added, see `pyserini/pyserini/search/_base.py`.

[2022-04-02 16:56] #834 closed

[2022-04-06 20:59] MarwaEssam opened #1109 "Dense Retrieval on big models"
Hi, I am using **Bigbird** for encoding my documents. Does pysernini support dense retrieval on long sequences (4096 specifically)? If yes, how to setup bigbird encoder with it?

Thanks

[2022-04-07 12:04] zixiliuUSC opened #1110 "Tune bm25 parameters"
I notice that you have an automatic algorithm to set b and k in bm25 algo, I wanna know do you a api to set these parameters our own?

[2022-04-07 18:37] joaocp98662 opened #1112 "pyserini.encode"
I'm trying to build dense indexes on my document collections but it raises an exception. The command I'm using is:

python -m pyserini.encode \
input   --corpus ...
output  --embeddings ...
        --to-faiss \
encoder --encoder sentence-transformers/msmarco-bert-base-dot-v5 \

And it outputs:

375580it [00:10, 36280.28it/s]
  0% 0/375580 [00:00<?, ?it/s]
Traceback (most recent call last):
  File

[2022-04-07 23:55] crystina-z commented on #1112
Hi @joaocp98662 thanks for your interest in our repo! It seems like the import of sklearn has been changed, and the PR [here](https://github.com/castorini/pyserini/pull/1114) is supposed to fix it. Could u try it and let us know if that solves the issue for you?

[2022-04-08 09:57] joaocp98662 commented on #1112
Hi @crystina-z thank you for your help. I'm using Colab and tried to upgrade Pyserini using pip. Then I tried to run Pyserini.encode again and the error persists. Maybe I'm doing something wrong, I don't know how to push your changes in the environment I'm using in other way that doesn't use a package manager.

[2022-04-08 15:27] lintool commented on #1112
hi @joaocp98662 you'll have to build a dev installation, following instructions here:
https://github.com/castorini/pyserini/blob/master/docs/installation.md#development-installation

I'm going to close the issue for now... please reopen if you have additional questions/issues.

[2022-04-08 15:27] #1112 closed

[2022-04-19 04:12] AreelKhan opened #1120 "pyserini Development Install issue"
Hello!
My name is Areel, I am trying to complete the developer installation of pyserini but have run into some problems.
I am following the steps linked [here](https://github.com/castorini/pyserini/blob/master/docs/installation.md#development-installation).
Everything works fine until I get to the point where I have to clone the GitHub repo. It is not much of an issue. The SSH clone command does n

[2022-04-20 19:59] rajharshiitb opened #1124 "Ranking subset of the documents for given query"
Hi,
First of all thanks for this wonderful library.
My question is, is there a way to find the score for  a subset of the document for the given query?
For eg: Let's say index is generated for 100M docs but at the time of scoring, I may be interested in scores of 100k docs which is subset of 100M. Is there any method to do so?

Thanks and Regards,
Harsh

[2022-04-21 08:00] wuchen95 opened #1125 "Compute the BM25 score of a new document"
Hi, I wonder if I can compute the BM25 score between a query and a new document which is not in the collection index. I wanna use the statistical information from the collection to compute the BM25 score of this new document.
However, the current interface takes into a 'docid' which means the document is already in the collection index.
Maybe I could insert the document into the index and then do

[2022-04-28 12:51] lintool opened #1129 "Clean up tmp directories after test"
[code]

Hey @crystina-z I think the temp directories are created by your tests?

E.g.,

[code]

(1) Tests probably should use an actual tmp directory and not the cache
(2) Clean up after tests are done?

[2022-04-28 23:02] lintool commented on #1124
Hi @rajharshiitb - this isn't easy to do with Pyserini or even Lucene for that matter. What's your use case for this feature?

[2022-05-03 03:33] kakuibeyond opened #1137 "No module named 'pyserini.index.lucene' when index my own docs"
**desc:**
when I index my own docs in google colab by following the instructions below, I met `**No module named 'pyserini.index.lucene'**`，and I insert a new code block with ‘import pyserini.index.lucene’, the problem still exist.
**My steps are as follows:**
1. `!pip install pyserini==0.12.0`
2. create jsonl docs like [sample_collection_jsonl](https://github.com/castorini/pyserini/blob/master/te

[2022-05-03 11:25] lintool commented on #1049
As part of #1134 - we've installed BEIR (v1.0.0) pre-built indexes for flat, multifield, and splade_distil_cocodenser_medium

TAS-B next, @NThakur20 will work on it.

[2022-05-03 11:26] justram commented on #1058
The reproduction is done, close the issue.

[2022-05-03 11:26] #1058 closed

[2022-05-03 11:28] lintool commented on #1050
Starting point: https://github.com/castorini/pyserini/blob/master/docs/usage-indexreader.md#how-do-i-compute-the-tf-idf-or-bm25-score-of-a-document

[2022-05-03 12:20] Shinyu-Mao opened #1140 "Update example code for using IndexReader"
The code for initialzing the IndexReader as in this page https://github.com/castorini/pyserini/blob/master/docs/usage-indexreader.md#how-do-i-compute-the-tf-idf-or-BM25-score-of-a-document, should be `from pyserini.index import IndexReader`.

Either `from pyserini.index.lucene import IndexReader` (as the given example) or ` import pyserini.index.lucene.IndexReader` will raise error as `ImportError

[2022-05-03 13:13] lintool commented on #1140
Hi @Shinyu-Mao thanks for noticing. What we have in the documentation is correct because it matches `HEAD` (i.e., dev installation).

[2022-05-03 13:13] #1140 closed

[2022-05-03 15:22] manveertamber commented on #1050
I can try this out

[2022-05-04 04:43] XY2323819551 opened #1141 "AttributeError: type object 'io.anserini.search.topicreader.Topics' has no attribute 'TREC2019_DL_DOC_UNICOIL'"
Hello, I'm sorry to bother you， I met an issue when .  I created the conda env following "Pip Installation" in "installation.md"，and then I run the command "python -m pyserini.search --topics msmarco-passage-dev-subset --index msmarco-passage --output run.msmarco-passage.txt --output-format msmarco --bm25" to check it, the following error occurred. I don not know how to solve it, could you help me

[2022-05-04 15:55] XY2323819551 opened #1145 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
Hello, I tried to reproduce the code of “ance-prf” followed by "experiments-ance-prf.md"， but the following error occurred. I the "encoders/ance-msmarco-passage" is downloaded from huggingface.  Could you help me if it's convenient for you. Thanks very much!!

(ance-prf-inference) zhangxy@s2:~/QA/pyserini_for_ance-prf/pyserini$ python -m pyserini.search.faiss --topics msmarco-passage-dev-subset --

[2022-05-06 10:05] lintool commented on #1050
Hey @manveertamber to iterate through all docs in the collection I think you need to do this:

from `stats()`, figure out how many docs there are in the index:
https://github.com/castorini/pyserini/blob/master/pyserini/index/lucene/_base.py#L516

the internal ids are numbered from 1 to _n_: for each, use this method to get the collection doc id:
https://github.com/castorini/pyserini/blob/master/py

[2022-05-06 14:16] yuki617 commented on #1104
This issue is closed by #1116, the irst script now could be applied generalized dataset instead of just the ltr one.

[2022-05-06 14:16] #1104 closed

[2022-05-07 14:51] joaocp98662 opened #1156 "Error importing pyserini.dsearch"
Hello,

In my local machine everything works fine, with my environment. But when I try to run it in my lab machines (I don't have superuser permissions in this machines), after setting up everything, I get this error:

File "dense_retrieval.py", line 10, in <module>
    from pyserini.dsearch import SimpleDenseSearcher, AutoQueryEncoder
  File "/cfs/home/u121171/.local/lib/python3.6/site-packages/p

[2022-05-09 16:37] lintool opened #1158 "Check output of trec_eval compute judged@k"
`trec_eval` inside pyserini has recently been updated to include computation of judged@k - we should cross reference to see if they produce the same results as: https://github.com/castorini/anserini-tools/blob/master/eval/measure_judged.py

they should... but we need to verify.

[2022-05-10 17:07] #1129 closed

[2022-05-10 20:25] #1050 closed

[2022-05-14 13:55] lintool commented on #938
Update, still having this issue:

[code]

And:

[code]

[2022-05-14 15:09] lintool commented on #938
Even with:

[code]

Per https://github.com/microsoft/LightGBM/issues/4229#issuecomment-930614380 - didn't help.

[2022-05-17 01:54] wuchen95 opened #1176 "May I compute the QL-DIR or QL-JM score?"
Hi, may  I compute the QL-DIR or QL-JM score?
I find that I may pass the parameter 'similarity ' to the compute_query_document_score to get different type of ranking scores, but I do not know how should I initialize the similarity?
Or is there any other way to get the QL-DIR or QL-JM score between the query and doc ?
Thanks

[2022-05-17 01:56] #1176 closed

[2022-05-17 19:23] lintool commented on #370
hi @manveertamber I believe you were going to take this on?

[2022-05-17 20:07] lintool commented on #370
More details: https://github.com/castorini/onboarding/blob/master/docs/cc-guide.md

The key is `searcher.doc`. As part of https://github.com/castorini/anserini/issues/1778 we now have a more efficient batch method. So, replace `.doc` with that more efficient method.

The result: QA eval should be more efficient (faster), but the results should be exactly the same.

[2022-05-22 20:52] lintool commented on #1062
I executed the following:

[code]

Seems like all imports have been fixed.

[2022-05-22 20:52] #1062 closed

[2022-05-22 20:54] lintool opened #1181 "Add TAS-B prebuilt indexes for BEIR"

[2022-05-22 20:55] lintool commented on #1049
Closing this issue. #1181 opened to keep track of TAS-B.

[2022-05-22 20:55] #1049 closed

[2022-05-30 10:33] lintool opened #1192 "Unit tests cleanup"
After running unit tests, we still have a bunch of tmp indexes that need to be removed:

[code]

[2022-06-03 11:27] C01DZin opened #1199 "RM3 expansion terms"
are there any methods that I could get rm3 expansion terms ?
Like after setting rm3 parameters and inputting a query, could I call a function to get a list of expansion terms that rm3 uses ?

[2022-06-07 21:19] lintool commented on #1192
Closed by #1198.

[2022-06-07 21:19] #1192 closed

[2022-06-07 21:20] lintool commented on #1158
Closed by #1184.

[2022-06-07 21:20] #1158 closed

[2022-06-07 21:21] lintool opened #1203 "Expose Rocchio feedback in Pyserini"
Need to add bindings here: https://github.com/castorini/pyserini/blob/master/pyserini/search/lucene/_searcher.py
And then connect to new option here: https://github.com/castorini/pyserini/blob/master/pyserini/search/lucene/__main__.py

@yuki617 could you work on this please?

[2022-06-15 17:49] lintool commented on #1203
Closed by #1205

[2022-06-15 17:49] #1203 closed

[2022-06-22 09:03] r1ckC139 opened #1216 "Python Script for Sparse Indexes"
Hi there,
I read your document about "How do I index and search my own documents",  in [here](https://github.com/castorini/pyserini#how-do-i-index-and-search-my-own-documents) you guys provide some bash script guide to indexing and batch searching documents, can you guide me to run indexing and batch searching in python like this:
![image](https://user-images.githubusercontent.com/61724310/1749893

[2022-06-25 23:56] waylight3 opened #1222 "num_workers > 0 in pytorch dataloader occurs JVM exception"
# Question
I want to load large corpus with minimum memory, so I build pyserini index and load it in run-time.
Is my usage of pyserini is wrong? or something important is missing?

# Problem
When I set num_workers=0, it works properly.
However, num_workers > 0 occurs such error below.
[code]
The right side of this error changes in every run, for example
[code]

# Minimal example
[code]
I already c

[2022-06-26 11:25] lintool commented on #1222
@waylight3 Thanks for the detailed issue.

We're actually struggling with something along these lines also, see #1178.

The problem with your solution is that it conflicts with Lucene's threading model. Basically, the recommendation is *one* `IndexReader` with multiple `IndexSearcher`s (each of which can access the index in a thread safe manner). So, the parallelism needs to be implemented on the

[2022-07-04 13:49] arian-askari commented on #100
Hi @thibault-formal,
Probably you have already found the solution as this is an old and closed issue! However, I could not find an answer for that by searching through issues. Therefore, here is the solution for someone else in the future. Here is the way to set b and k1 parameters for computing the BM25 score within a specific query and document:

[code]

[2022-07-06 17:36] dayuyang1999 opened #1229 "Out of memory when creating customized dense index from a large collection"
Hi,

I am trying to create a dense index from a large document collection (roughly 40GB).

I did minor modification from the sample code in the main page of pyserini "Guide to indexing and searching English documents":

[code]

However, every time I run the code. When the progress bar is reaching 4%, the execution will be killed automatically because my machine runs out of memory (total of 64G of

[2022-07-08 11:43] NoB0 opened #1230 "Cannot import AnceEncoder from transformers package"
## Problem
I want to use [ance-msmarco-passage model](https://huggingface.co/castorini/ance-msmarco-passage). The class AnceEncoder cannot be imported.

## Reproduce problem
Python version: 3.7.12
transformers version: 4.9.0

[code]

## Question
Should the version of Python and/or transformers be updated?

[2022-07-11 14:35] SinghShreyas opened #1231 "No module named 'faiss'"
Hello,

Whenever I am trying to do this import `from pyserini.search import JLuceneSearcherResult`. I am getting ModuleNotFoundError saying no module named 'faiss'.

Any help with this will be appreciated.

Thanks!
![Screenshot 2022-07-12 at 12 34 42 am](https://user-images.githubusercontent.com/25030681/178289180-8c096460-9d02-40ba-a59d-cb6e5e950902.png)

[2022-07-11 14:45] #1231 closed, assigned to nobody

[2022-07-14 12:15] lintool opened #1235 "Add HC4 bindings, pre-built indexes, etc."
hey @ToluClassics - starting this as a thread to track missing elements in pyserini.

Do we have HC4 bindings for the dev/eval sets in pyserini? If not we should start with that.

We might also want to build pre-built indexes?

[2022-07-15 13:40] w32zhong commented on #1230
make sure you have installed `transformers`, and then do
[code]

[2022-07-25 01:51] velocityCavalry commented on #639
Hi! I was also wondering how to build index on the fly and came across this. However, the link seems to be broken. Is there any plan to integrate this functionality in the near future? Thanks!

[2022-07-26 22:47] minimario opened #1239 "Documents getting indexed incorrectly?"

[2022-08-07 12:20] zmzhang2000 commented on #437
Hi @MXueguang, I also would like to use wikipedia-dpr index with Docvectors stored, but only to find the file in dropbox is deleted.

Would you please share the index again?

[2022-08-10 09:37] r1ckC139 opened #1246 "TCT-ColBERTv2 Code"
Hi team,
Do you guys have a plan to release TCT-ColBERTv2 Code (training, indexing, searching,..)? (I'm really sorry because this question isn't related to this repo but I found that you guys are the author of "In-Batch Negatives for Knowledge Distillation with Tightly-Coupled
Teachers for Dense Retrieval" paper)

[2022-08-10 14:36] jacklin64 commented on #1246
Hi @r1ckC139, we have TCT-ColBERTv2 training and inference instruction in other repo (https://github.com/castorini/tct_colbert), where we developed TCT using tensorflow. Maybe in the future, we'll have the one using pytorch + huggingface.

[2022-08-11 01:04] r1ckC139 commented on #1246
@jacklin64, thanks for your answer, hope you guys can release pytorch + huggingface version in the future.

[2022-08-13 18:51] #1230 closed

[2022-08-15 01:21] r1ckC139 commented on #1246
Hi @jacklin64, if I want to use TCT-ColBERT with pyserini dense search, then I need to convert tensorflow model (trained by your code) to pytorch version right?

[2022-08-15 01:41] jacklin64 commented on #1246
yes, correct. But if you don't mind, you can directly use the pytorch models transformed by us here: https://huggingface.co/castorini/tct_colbert-v2-hnp-msmarco

[2022-08-15 02:12] r1ckC139 commented on #1246
I train TCT-ColBERT with my own dataset (in Vietnamese language) so i can't use these English models, Do you know any convenient tool or way to convert?

[2022-08-15 02:21] jacklin64 commented on #1246
You can use this script in huggingface https://github.com/huggingface/transformers/blob/main/src/transformers/models/bert/convert_bert_original_tf_checkpoint_to_pytorch.py. Just make sure you get the weights of student model rather teacher model.

[2022-08-15 02:24] r1ckC139 commented on #1246
I'll try it, thank you so much for your quick and helpful replies

[2022-08-16 01:32] #1246 closed

[2022-08-16 01:39] r1ckC139 opened #1251 "Top-k retrieval from bm25 maybe empty"
Hi team,
The top-k retrieval from bm25 returns empty in some cases, is there any way to modify this?

[2022-08-24 15:49] zmzhang2000 opened #1255 "FaissSearcher.batch_search() behaves differently with different k"
I was doing retrieval with the prebuilt index `wikipedia-dpr-multi-bf`, but I found it will return different retrieval list with different `k`.

Here is an example:

[code]

The output is:

[code]

In line 16-17, the order of `20256491` and `20256484` is different. This example is not the only one.

This will cause different metric values (e.g., `Top20` and `Top100`) with expected when reproducing

[2022-08-24 16:03] MXueguang commented on #1255
Hi @zmzhang2000,
Could you also print out the scores for the results? I'm not sure if they are due to tie-breaking issue

[2022-08-24 16:12] zmzhang2000 commented on #1255
Thanks for your quick reply!

It seems like they share the same scores.

[code]

[2022-08-24 16:24] MXueguang commented on #1255
yeah...then I think it's just tie breaking issue. The reason difference topk gives different order probably due to Faiss implementation. A common way to handle this probably sorting the rank by document id when the scores are same. I'll fix this issue in pyserini too.

[2022-08-30 05:20] shaileshj2803 opened #1257 "Please add requirements.txt to sdist"
The sdist does not contain the required file "requirements.txt" which is read by [setup.py](http://setup.py/) - https://github.com/castorini/pyserini/blob/master/setup.py#L6
please fix the sdist to include requirements.txt.

[2022-09-06 20:02] zhiqihuang opened #1260 "Number of encoders in ANCE"
Hi,

I have a question after loading the [ANCE](castorini/ance-msmarco-passage) model.

It seems that the ANCE model on hugging face only has one RobertaModel. Do the query and document encoders share parameters?

From the DPR paper, the model should contain separate encoders. One for the query and another one for the document.
In the ANCE repo, they also initialized the model with different encod

[2022-09-06 20:18] MXueguang commented on #1260
Hi @zhiqihuang,

I think they are using this implementation while training ANCE for msmarco passage.
https://github.com/microsoft/ANCE/blob/39258f5824d00fede624f11caaccab15bc254502/model/models.py#L137
So q-encoder and p-encoder share parameters.

[2022-09-06 20:24] zhiqihuang commented on #1260
I see. Thank you.

[2022-09-06 20:24] #1260 closed

[2022-09-12 00:59] chenyn66 opened #1261 "Tokenizer while indexing"
Hi,
I'm wondering how to change the default tokenizer while indexing documents. More specifically, I want to index my documents with T5 tokenizer. Is it possible to do that?
Thanks!

[2022-09-13 11:12] r1ckC139 opened #1263 "LuceneImpactSearcher with UniCOIL Model"
Hi there, I follow this repo (https://github.com/luyug/COIL) to train a UniCOIL model with my own dataset (in Vietnamese), now I want to create a search API base on this UniCOIL model, follow this code (https://github.com/castorini/pyserini/blob/master/pyserini/search/lucene/__main__.py)  and this script (https://github.com/castorini/pyserini/blob/master/docs/experiments-unicoil.md) I have to use

[2022-09-21 20:13] mfayoub opened #1271 "passage_id is different from what is expected"
Hi everyone,

I've downloaded the prebuilt index named "msmarco-v2-passage", and then I tried a simple search. The resulting passages have a different format that what I was expecting. So, a sample passage id that came out of my search is like msmarco_passage_04_180136318, where I expected a passage id is just a number (from 1 till 8.8 million). Is that right? or am I doing something wrong?

[2022-09-21 20:27] MXueguang commented on #1271
Hi @mfayoub

`msmarco-v1-passage` is the index you are looking for I guess. (which has 8.8 million passages, i.e. the original version of msmarco passage ranking).
`msmarco-v2-passage` is a new corpus released in 2021, https://microsoft.github.io/msmarco/TREC-Deep-Learning-2021.html#please-read-data-refresh

[2022-09-22 01:55] mfayoub commented on #1271
Thanks MXueguang for your reply! Yes, I tried msmarco-v1-passage, and it seems returning the expected doc_ids.

[2022-09-22 01:55] #1271 closed

[2022-09-22 13:40] lintool commented on #938
Trying this again:

[code]

Still getting same error.

[2022-09-23 23:15] vrdn-23 opened #1274 "Faiss Indexing unable to modify the number of centroids"
Hi,
I've been tinkering with the Dense Indexer and was trying to index a set of documents using Faiss but I'm unable to change the number of centroids.

This is the command I'm running and as I understand it, setting the argument should allow me to control the number of centroids that we index to.

[code]

Could someone please confirm whether this is a bug or whether I may not be handling a settin

[2022-09-27 00:22] MXueguang commented on #1274
Hi @vrdn-23,

You can modify it by the `--pq-nbits` option, by default it is 8, which gives 2^8 = 256 centroids. https://github.com/castorini/pyserini/blob/11124e9bc5288e7ebca22d2759a292cf507afe2a/pyserini/index/faiss.py#L72

Regards,
Xueguang

[2022-09-27 01:19] lintool commented on #1257
Hi @shaileshj2803 thanks for filing the issue. I believe this is closed by #1258 ?

Please reopen issue if otherwise.

[2022-09-27 01:19] #1257 closed

[2022-09-27 01:20] lintool commented on #1081
Closing...

[2022-09-27 01:20] #1081 closed

[2022-09-27 01:21] lintool commented on #673
@cash I think this issue has been closed? Please reopen otherwise.

[2022-09-27 01:21] #673 closed

[2022-09-27 13:50] lintool opened #1278 "Update Installation.md re: Windows issues"
Perhaps we should organize and create a separate section for windows installation tips?

[2022-10-03 13:36] #1278 closed

[2022-10-04 21:56] lintool opened #1287 "Flaky test for Mr.TyDi: 2CR"
On `tuna`:

[code]

[2022-10-06 16:57] ToluClassics opened #1290 "Extend Trec to DPR Run Converter to use Custom Topics ?"
The file [convert_trec_run_to_dpr_retrieval_run.py](https://github.com/castorini/pyserini/blob/master/pyserini/eval/convert_trec_run_to_dpr_retrieval_run.py) only allows the conversion of topics currently checked into anserini.

I guess we can open this up to use custom query files also?

https://github.com/castorini/pyserini/blob/2673031f6b202941fe0f9953c9b876e6d4f1e653/pyserini/eval/convert_trec

[2022-10-06 16:58] ToluClassics commented on #1290
@MXueguang

[2022-10-07 00:20] MXueguang commented on #1290
yeah, that's a good idea. I guess we can first check if the "name" is a path, and if it is, load it using `get_topics_with_reader`, otherwise, assume it is self contain topic file

[2022-10-07 04:00] r1ckC139 opened #1291 "BM25 ANN Search"
Hi there,
I have a question about how can use BM25 as a vector searcher (vsearch), because i want sparse search faster, in your guideline about [Encode documents with Sparse encoder](https://github.com/castorini/pyserini#encode-documents-with-sparse-encoder), you provide a way to encode documents with Sparse encoder, so can we do this with BM25 to obtain jsonl file as the image below:
![image](htt

[2022-10-07 04:39] MXueguang commented on #1291
https://github.com/castorini/pyserini/blob/master/docs/usage-indexreader.md#how-do-i-quantize-vectors-of-weights

[2022-10-09 22:16] lintool commented on #938
Interestingly, on the M1 chip, `lightgbm` does work with the following install command:

[code]

[2022-10-14 12:27] lintool commented on #831
Hi @MFajcik - I'm working on a potential fix here: https://github.com/castorini/anserini/pull/1992

[2022-10-14 12:28] lintool commented on #1287
Addressed as part of #1295

[2022-10-14 12:28] #1287 closed

[2022-10-17 23:42] lintool commented on #831
Merged into Anserini main trunk. Should work in Pyserini now - TODO: add test case.

[2022-10-18 15:06] ola13 opened #1307 "Add PhraseQuery wrapper to Pyserini or add documentation if the port already exists"
Hi team, I'd like to be able to perform exact phrase searches in Pyserini, hence the issue.

[2022-10-18 20:11] lintool opened #1309 "MIRACL 2CR: rotate the table?"
Looking at this: https://castorini.github.io/pyserini/2cr/miracl.html

Would it make sense to rotate the table, so that rows are languages, and columns are the methods? Then we can make the repro matrix look very close to the results table in the paper.

Thoughts, @crystina-z ?

[2022-10-18 20:22] crystina-z commented on #1309
maybe after we have more baselines? right now it would only have 4 columns (including both ndcg@10 and recall) and the table might look very thin and possibly odd... I'm thinking this version is good based on what we have so far?

[2022-10-19 00:13] shmsw25 opened #1311 "removing or excluding documents from the index"
Hi! Thank you for this great library. I am curious if there is a way to remove the documents from the index that is already built, or alternatively exclude a set of documents from results when searching. I am specifically looking for this feature with a sparse index.

It will still be possible to get results with larger K first and exclude those results later, but I found it quite inefficient when

[2022-10-19 00:20] lintool commented on #1311
Yes, there is a way to remove documents in Lucene, but unfortunately the hooks are not exposed from the Java end. Can you describe your use case?

Can you file an issue, and we'll prioritize wrt the rest of our tasks...

[2022-10-19 00:30] shmsw25 commented on #1311
Thanks! I think there will be many use cases, but the specific case of mine is to group a large set of documents into different batches that share high similarity scores.

For instance, if we want N batches with K docs per batch, where there're N*K docs in the index, we might want to do the following:
[code]
(There might be other ways to do it efficiently, other than using the removal function, bu

[2022-10-19 00:33] lintool commented on #639
bumping this issue - @ola13 brought up a use case for this - directly indexing a hgf dataset without first writing out JSON lines...

maybe we should increase in terms of priority...

[2022-10-19 00:38] lintool commented on #1311
So, basically, dedupping? For that, an index-based solution isn't the best... you want something like a hash-based solution - something simple like minhash or something more complex like LSH forests (e.g., with random projects).

[2022-10-19 04:31] shmsw25 commented on #1311
Ah I see, thanks for the suggestion!

I actually managed to make it work by using batch operations -- seems to work fast enough in my use case. I'll close the issue for now since it's not urgent for me. Great tool!! :)

[2022-10-19 04:31] #1311 closed

[2022-10-20 22:10] #831 closed

[2022-10-24 00:55] lintool opened #1317 "Add MIRACL dev set bindings, update regressions"
With [Anserini v0.16.0](https://repo1.maven.org/maven2/io/anserini/anserini/0.16.0/), we can now update MIRACL bindings and regressions.

[2022-10-25 13:08] ToluClassics commented on #1317
Hi @lintool , are  we making this `experiments-miracl-v1.0-ar.md` per language instead of `experiments-miracl-v1.0.md` for everything?

[2022-10-25 13:54] lintool commented on #1317
Sorry, I should have been more clear. I think we need to do:

(1) add the topic bindings: https://github.com/castorini/pyserini/blob/master/tests/test_load_topics.py#L23

(2) add `experiments-miracl-v1.0.md` (yea, one file is fine - do what @crystina-z does with like a `$lang` code in the docs) -  this page will primarily add indexing instructions

(3) tweak 2CR to use (1)

[2022-10-27 21:46] lintool commented on #1317
Closed by #1319

[2022-10-27 21:46] #1317 closed

[2022-10-27 21:48] lintool opened #1324 "Add dense pre-built indexes for TREC 2022 NeuCLIR"
We should have the ability to easily reproduce `fa_xdpr.ms.oht.d.R` (and for the other languages).

As well as simple variants: title, d+title, etc. and +/- Rocchio.

[2022-10-27 21:52] lintool commented on #1324
I think, as an initial step, install the pre-built indexes, and then just drop in the reproduction commands here on this issue.

I'm not sure how much we want to build out exact repro... just an MD page? or full 2CR?

[2022-10-28 09:36] lintool opened #1325 "run_all_miracl.py bug?"
Hey @crystina-z @ToluClassics - did we miss something in the refactoring or did I do something wrong?

[code]

[2022-10-28 12:40] ToluClassics commented on #1325
Hi @lintool , We only created regressions for `dev` set

[2022-10-28 13:07] lintool commented on #1325
Ah, yes, I forgot.

Does it make sense to do better error handling? I.e., if the test queries are not present, just skip those regressions?

[2022-10-29 15:36] #1325 closed

[2022-10-29 19:24] Koistory opened #1328 "There some minor mistakes in `index.lucene._base.Posting`"
In the file `index.lucene._base.py` I find the comment of class `Posting` has some mistakes which will cause some trouble when using the package when I try to calculate the tf-idf score of the document. The attribute `docid` with data type `int` acctually refers to Lucene internal ``docid`` but not External collection ``docid`` whose data type is `str` according to the comment. The result should b

[2022-10-31 08:25] shachibista opened #1331 "Retrieve term positions"
Hi!

Is there any way to retrieve term positions from the documents? I want to implement a term-highlighting functionality. Is there something for this already built-in?

Thanks!

[2022-10-31 16:15] lintool commented on #1328
Hi @Koistory thanks for opening this issue - I hope that you're finding our toolkit useful!

This is actually the desired behavior - and is consistent with implementations of most IR engines.

However, you make a good point in that the documentation can be improved to clarify this possible point of confusion. Would you be wiling to send a PR?

[2022-11-01 15:36] shachibista commented on #1331
A possible solution seems to get the term positions using the Index Reader API and use the analyser to get the offsets of the terms in the document.

[code]

[2022-11-01 21:03] lintool commented on #1331
Hi @shachibista - thanks for your issue, hope you're finding Pyserini useful.

Looping in @ola13 - which faced exactly the same issue recently... thoughts?

[2022-11-02 02:54] Koistory commented on #1328
OK, I get it. Thank you for your patient answering! Your pakage is really awesome and it helps me a lot in my work. I will close the issue soon, but I am sorry that I may not send a PR for I actually run out of time at present. Best wishes!

From: Jimmy Lin ***@***.***>
Date: 2022-11-01 00:15:50
To: castorini/pyserini ***@***.***>
Cc: Koistory ***@***.***>,Mention ***@***.***>
Subject: Re: [castor

[2022-11-02 02:55] #1328 closed

[2022-11-02 11:32] ola13 commented on #1331
Hi @shachibista! I'm working on open sourcing my server code, will answers with links to that code in a day or two

[2022-11-02 18:20] ola13 commented on #1331
Hi - so - I'm using this code to get highlighted terms https://github.com/huggingface/roots-search-tool/blob/main/web/server.py#L101-L103

What it does is the following:
1) use analyzer to get query terms
2) use analyzer to get document terms
3) save each word from a document which matches a query term
4) highlight anything in that list

The problem with this solution is that I don't actually get

[2022-11-03 12:17] lintool commented on #1324
Closed by #1320 #1323

[2022-11-03 12:17] #1324 closed

[2022-11-03 12:17] lintool commented on #1235
Closed by #1320 #1322

[2022-11-03 12:17] #1235 closed

[2022-11-05 03:19] zhiqihuang opened #1333 "mDPR using cls or pooler_output"
About mDPR model, does it use CLS token or pooler_output?

In _searcher.py, DprQueryEncoder uses the pooler_output [here](https://github.com/castorini/pyserini/blob/d128563d1c49948c4144badf62436c5c43dd3fc1/pyserini/search/faiss/_searcher.py#L138) and  AutoQueryEncoder uses the CLS token [here](https://github.com/castorini/pyserini/blob/d128563d1c49948c4144badf62436c5c43dd3fc1/pyserini/search/faiss

[2022-11-05 10:27] lintool opened #1334 "Validate pre-built indexes on initialization"
Current workflow for pre-built indexes doesn't actually validate term stats, unless we explicitly run the check script:

[code]

As a result, some of the stats for recently installed pre-built indexes are wrong.

Fix: we validate pre-built index stats at initialization. This provides a sanity check against corrupt indexes.

[2022-11-05 20:44] crystina-z commented on #1333
Hi @zhiqihuang!

If you are using our hgf models like [mdpr-tied-pft-msmarco](https://huggingface.co/castorini/mdpr-tied-pft-msmarco) or so, it would be the `AutoQueryEncoder` which means the CLS token representation.

[2022-11-05 22:10] zhiqihuang commented on #1333
Yes, that's exactly what I'm looking for. Thanks.

[2022-11-05 22:10] #1333 closed

[2022-11-07 15:00] MXueguang opened #1336 "dump bm25 vectors for lucene indexes"
getting BM25 dump seems a bit too slow right now, we should consider implementing multi-thread for that later

[2022-11-10 13:26] #1334 closed

[2022-11-11 08:33] cingtiye opened #1338 "Two same documents retrieved by bm25 for the same question have different score！"
Hi,

    When I used pyserini to retrieve my question, I was surprised to find that two same documents retrieved by bm25 for the same

question have different score.

![image](https://user-images.githubusercontent.com/32251546/201298392-9bb560e3-96a8-4f0f-b5c8-58de27d53268.png)

     Could you please tell me how to avoid this problem?

Thank you!

[2022-11-11 10:40] XY2323819551 opened #1339 "ImportError: cannot import name 'pyutils' from 'pyserini.index'"
Hi, I want to convert internal docid to external docid, I find solution in [#33](https://github.com/castorini/pyserini/issues/33#issue-565057381). However, I met ImportError when I conducted "from pyserini.index import pyutils". So could you tell me why? Thank you.

[2022-11-11 15:52] lintool commented on #639
Ref: https://github.com/castorini/anserini/pull/2016

[2022-11-16 01:51] vicpara opened #1345 "Segmentation fault: 11"
I was trying to follow the documentation from https://github.com/castorini/pyserini#dense-indexes .

On MacOS 12.6 Monterey, when running the script below I get a Segmentation fault error.

[code]

returns
`Segmentation fault: 11`

[2022-11-17 13:38] ChuanMeng opened #1348 "Why to parse the topic keys into integers"
Hi,
I have a question that is why to parse the topic keys into integers?
In my case, I run BM25 on Trec Cast datasets where the topic key is like "30_1", and this parsing operation would modify the topic key into "301". The modified topic keys would mismatch the ones in the qrels file, which I don't want to happen. How to disable this operation?

https://github.com/castorini/pyserini/blob/4d61b563

[2022-11-17 14:04] lintool commented on #1348
If topic keys are integers, then it would be nice to have int sort order, like 1, 2, 3 ... 10, 11... otherwise, we get string sort order, like 1, 10, 11, ... 2, 3, 4 ...

However, it seems like the Python int parser is too permissive. Maybe the solution is to match `\d+` and only convert to int if key is all digits?

@crystina-z what do you think? (IIRC, this is your code?)

[2022-11-17 14:23] ChuanMeng commented on #1348
Thank you for timely replying Jimmy :-).
Yes, I just tried and this is exactly as the result of the Python int parser (see the picture below).
![image](https://user-images.githubusercontent.com/37291827/202470455-6dd07b10-77d6-407b-89f6-866eaeae5c86.png)

Really hope that we can fix this issue.
Thank you in advance!

Cheers,
Chuan

[2022-11-17 15:32] lintool commented on #1348
Yes, `isdigit()` makes sense.

@crystina-z - related this one: https://github.com/castorini/pyserini/pull/1289

Actually @ChuanMeng - would you be willing to do a PR to fix? I would like to expand the contributor pool.

[2022-11-17 16:20] ChuanMeng commented on #1348
Sure. I did a PR.
![image](https://user-images.githubusercontent.com/37291827/202500272-b90cdd33-cdab-4432-bf0d-55241f8b1533.png)

Best wishes,
Chuan

[2022-11-21 03:50] MXueguang opened #1353 "add efSearch option for FaissSearcher"
the default efSearch of hnsw index equals efConstruction.
need to add an option to make efSearch configurable.

[2022-11-28 05:05] Wenze7 opened #1358 "How to use splade with the jsonl queries?"
Hi, i'm glad to see this tools!
I want to reproduce splade, but i'm using paddlepaddle instead of pytorch, so i want to ask for how can i use the jsonl file to search instead of using a pytorch-model to be the encoder?

[2022-11-28 06:58] Wenze7 commented on #1358
I have noticed the following scirpt:
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/55132749/204213408-1b223bf1-311d-4430-9a77-cb245b9dc1e1.png">
I want to know the format of msmarco-passage-dev-subset-distill-splade-max, could you give me the url of this file?

[2022-11-28 09:02] edoost opened #1359 "Retrieval speed with a large BM25 index"
Hi,

I have built an index for 2.7B documents (had to break it into two indices), and it was quite fast (~4 hours). However, the retrieval is not sufficiently fast and might take many seconds for a document of ~50 words (all documents are around that size). I was wondering if this speed is expected (otherwise I'm doing sth wrong), and if there's a way to increase the speed (such as clustering).

[2022-11-28 14:58] Wenze7 opened #1362 "The weights of splade"
I download the following file from "topics-and-qrels/topics.msmarco-passage.dev-subset.distill-splade-max.tsv.gz"
<img width="1369" alt="image" src="https://user-images.githubusercontent.com/55132749/204308940-4eee524b-8827-4037-9cd4-f7a5a905c19c.png">
I want to know where are the weights produced by splade? And i don't know why many tokens are repeated?